body {
  width: 100%;
  min-width: 375px;
  height: 3934px;
  background-color: #010101;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  transition-duration: 0.5s;
}
a:hover {
  color: #919191;
  transition-duration: 0.5s;
}

h1, p, a {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height, or 121% */
  text-transform: uppercase;
  margin: 0;
}

button {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  text-transform: capitalize;
  /* Black */
  color: #010101;
  transition-duration: 1s;
  transition-property: color, background;
}

button:hover {
  background: #010101;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  transition-duration: 1s;
  transition-property: color, background;
}

.social-media {
  display: flex;
  position: absolute;
  top: 100px;
  z-index: 666;
  transform: rotate(-90deg);
  right: -80px;
  top: 326px;
}
.social-media-item {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  letter-spacing: 0.04em;
  text-transform: uppercase;
  /* White */
  color: #FFFFFF;
  background: #010101;
  opacity: 0.8;
  padding: 6px;
  margin: 0 1px;
  transition-duration: 0.2s;
}
.social-media-item:hover {
  opacity: 1;
  transition-duration: 0.2s;
}

.body-container {
  width: 83.3333333333%;
  height: 100%;
  z-index: 1;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navigation {
  height: 100%;
  width: 44.4166666667%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navigation-item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 178%;
  color: #FFFFFF;
  display: flex;
}
.header-navigation .weight-600 {
  font-weight: 600;
}

.mobile {
  display: none;
}

.bottom {
  width: 100%;
  min-width: 375px;
  height: 380px;
  position: absolute;
  top: 3685px;
}
.bottom-gradient {
  width: 100%;
  height: 160px;
  background: linear-gradient(180deg, #010101 11.52%, rgba(41, 40, 40, 0.76) 100%);
  position: absolute;
}
.bottom-mountains {
  width: 100%;
  height: 160px;
  position: absolute;
  z-index: 5;
  background-image: url(img/montana-grande.svg), url(img/montana-pequena.svg);
  background-repeat: no-repeat;
  background-position: 3% 50px, 24% bottom;
}

.footer {
  width: 100%;
  height: 221px;
  margin-top: 160px;
}
.footer-top {
  width: 100%;
  height: 57px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.footer-top-navigation {
  width: 33.8333333333%;
  display: flex;
  justify-content: space-between;
}
.footer-top-navigation-item {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  /* identical to box height, or 229% */
  text-transform: uppercase;
  /* White */
  color: #FFFFFF;
}
.footer-top-navigation .weight-600 {
  font-weight: 600;
}
.footer-top-empty {
  width: 143px;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 164px;
}
.footer-bottom-social-media {
  width: 12.3333333333%;
  display: flex;
  justify-content: space-between;
}
.footer-bottom-copyright {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */
  text-transform: uppercase;
  /* White */
  color: #FFFFFF;
}

.film-video-mobile-placeholder, .top-video-mobile {
  display: none;
  height: 216px;
  width: 100%;
}

.film-video {
  width: 100%;
  height: 638px;
  margin-top: 40px;
  background-image: url(img/five-peaks.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% center;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.film-video-carets {
  position: absolute;
  z-index: 2;
  margin-bottom: 20px;
  margin-right: 40px;
}
.film-video-carets a img {
  height: 40px;
}
.film-video-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
  opacity: 0;
  transition-duration: 0.5s;
}
.film-video-gradient:hover {
  opacity: 0.8;
  transition-duration: 0.5s;
}

.film-info-extension {
  display: none;
}

.film-info {
  width: 100%;
  height: 639px;
  margin-top: 40px;
  background-color: #1E1E1E;
  display: flex;
  flex-direction: column;
}
.film-info-in-process {
  margin-top: 56px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  /* identical to box height, or 91% */
  text-transform: uppercase;
  /* White */
  color: #FFFFFF;
}
.film-info-title {
  color: #ffffff;
  margin-top: 32px;
  margin-left: 6.6666666667%;
  font-size: 40px;
  line-height: 38px;
}
.film-info-grid {
  width: 93.3333333333%;
  height: 437px;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 378fr 742fr;
}
.film-info-grid-cell:first-child {
  display: grid;
  grid-auto-rows: 66px 157px 62px;
  gap: 48px;
}
.film-info-grid-cell:last-child {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.film-info-grid-cell-paragraph {
  width: 81.6711590296%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  /* White */
  color: #FFFFFF;
  margin-bottom: 32px;
}

.film-info-grid-cell-left:nth-child(2) {
  display: none;
}

.film-info-grid-cell-left-top {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.film-info-grid-cell-left-top-icon {
  height: 24px;
}
.film-info-grid-cell-left-top-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  text-transform: uppercase;
  /* White */
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  margin-left: 3%;
}

.film-info-grid-cell-left-bottom {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* White */
  color: #FFFFFF;
  margin-left: 10%;
  margin-top: 8px;
}
.film-info-grid-cell-left-bottom ul {
  margin: 0;
  padding: 0;
}
.film-info-grid-cell-left-bottom ul li {
  list-style-type: square;
  margin-bottom: 4px;
}
.film-info-grid-cell-left-bottom ul li::marker {
  color: #777777;
}

.participants {
  width: 100%;
  overflow: hidden;
  height: 412px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.participants-top {
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}
.participants-main {
  width: 100%;
  min-width: 1000px;
  height: 322px;
  display: flex;
  justify-content: space-between;
}
.participants-main-participant {
  height: 100%;
  width: 14.5833333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.participants-main-participant-photo {
  height: 256px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.participants-main-participant-name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  text-transform: uppercase;
  /* White */
  color: #FFFFFF;
}
.participants-main-participant-occupation {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  text-align: center;
  text-transform: uppercase;
  /* White */
  color: #FFFFFF;
}

#participant-1 {
  background-image: url(img/participants/participant-7.jpg);
}

#participant-2 {
  background-image: url(img/participants/participant-8.jpg);
}

#participant-3 {
  background-image: url(img/participants/participant-9.jpg);
}

#participant-4 {
  background-image: url(img/participants/participant-10.jpg);
}

#participant-5 {
  background-image: url(img/participants/participant-11.jpg);
}

#participant-6 {
  background-image: url(img/participants/participant-12.jpg);
}

.partners {
  margin-top: 120px;
  width: 100%;
  height: 690px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.partners-top {
  margin-top: 120px;
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: space-between;
}
.partners-top-title {
  color: #010101;
  width: 30%;
}
.partners-top-carets {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}
.partners-grid {
  margin-top: 49px;
  width: 100%;
  height: 368px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.partners-grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partner-logo {
  width: 80%;
  height: 100%;
}

.partners-extension {
  width: 100%;
  min-width: 375px;
  height: 690px;
  background-color: #ffffff;
  position: absolute;
  top: 2089px;
}

.testimonials {
  margin-top: 120px;
  width: 100%;
  height: 318px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonials-top {
  margin: 0;
}
.testimonials-row {
  width: 100%;
  height: 228px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.testimonials-row-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #C7C7C7;
}
.testimonials-row-review-top {
  height: 52px;
  width: 83.4170854271%;
  display: flex;
  justify-content: space-between;
}
.testimonials-row-review-top-profile {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonials-row-review-top-profile-name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  /* Black */
  color: #010101;
}
.testimonials-row-review-top-profile-occupation {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  /* Black */
  color: #010101;
}
.testimonials-row-review-text {
  width: 83.4170854271%;
  height: 102px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  /* Black */
  color: #010101;
}

.testimonials-row-review:nth-child(2) {
  background-color: #1E1E1E;
}

.black-to-white {
  color: #ffffff;
}

.other-films-placeholder {
  height: 348px;
  width: 100%;
  margin-top: 120px;
  color: white;
}

.other-films {
  width: 100%;
  height: 274px;
  position: absolute;
  top: 3411px;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
}

.gallery-photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.photo-hovered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-hovered-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 115px;
  opacity: 0;
  transition-duration: 2s;
}
.photo-hovered-block-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 34px;
  /* identical to box height, or 106% */
  text-align: center;
  text-transform: uppercase;
  /* White */
  color: #FFFFFF;
}
.photo-hovered-block-button {
  width: 189px;
  min-height: 48px;
  padding: 0;
}

.photo-hovered-block img {
  width: 200px;
}

.other-films-1,
.other-films-2,
.other-films-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.other-films-1:hover .photo-hovered,
.other-films-2:hover .photo-hovered,
.other-films-3:hover .photo-hovered {
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.other-films-1:hover .photo-hovered-block,
.other-films-2:hover .photo-hovered-block,
.other-films-3:hover .photo-hovered-block {
  opacity: 1;
  transition-duration: 2s;
}

#height-bigger-1, #height-bigger-2 {
  height: 150px;
}

.other-films-1 {
  background-image: url(img/Photo-5.jpg);
}

.other-films-2 {
  background-image: url(img/Photo-3.jpg);
}

.other-films-3 {
  background-image: url(img/Photo-4.jpg);
}

.other-films-mobile {
  display: none;
}

@media (max-width: 1180px) {
  .body-container {
    width: 95%;
  }

  .header-navigation {
    width: 55%;
  }

  .film-info-grid-cell-paragraph {
    width: 100%;
  }

  .photo-hovered-block-title {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 1000px) {
  .footer-top-navigation {
    width: 45%;
  }

  .testimonials-row-review-text {
    height: 120px;
    font-size: 12px;
    line-height: 18px;
  }

  .testimonials-row-review-top img {
    max-width: 35%;
  }
}
@media (max-width: 860px) {
  .header-navigation {
    width: 66%;
  }

  .footer-bottom-social-media {
    width: 17%;
  }

  .film-info-grid-cell-paragraph {
    font-size: smaller;
  }
}
@media (max-width: 720px) {
  body {
    height: 2851px;
  }

  .body-container {
    width: 92%;
  }

  .social-media {
    display: none;
  }

  .header {
    margin-top: 88px;
    height: auto;
  }

  .logo-top {
    width: 100px;
  }

  .header-navigation {
    width: 20%;
  }

  .header-navigation-item {
    display: none;
  }

  .header-navigation-item:nth-child(5) {
    display: flex;
  }

  .mobile {
    display: flex;
  }

  .footer-top-navigation {
    display: none;
  }

  .bottom {
    height: 177px;
    top: 2674px;
  }
  .bottom .bottom-gradient, .bottom .bottom-mountains {
    height: 120px;
    width: 100%;
    min-width: 320px;
  }
  .bottom .bottom-mountains {
    z-index: 5;
    background-image: url(img/montana-grande.svg), url(img/montana-pequena.svg);
    background-repeat: no-repeat;
    background-position: -30px 25px, 200px bottom;
  }

  .footer {
    height: 56px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-top, .footer-bottom {
    height: 100%;
    display: flex;
    width: 38%;
  }
  .footer .footer-top-logo {
    width: 113px;
    height: 47px;
    margin-bottom: auto;
  }

  .footer-bottom-copyright {
    display: none;
  }

  .footer-bottom-social-media {
    width: 100%;
    flex-direction: row-reverse;
  }
  .footer-bottom-social-media a img {
    width: 18px;
  }

  .film-video {
    display: none;
  }

  .top-video-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 132px;
    z-index: 20;
    min-width: 375px;
    max-width: 420px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(img/five-peaks.jpg);
  }
  .top-video-mobile-gradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
    opacity: 0.8;
  }
  .top-video-mobile-carets {
    height: 40px;
    width: 90px;
    position: absolute;
  }
  .top-video-mobile-carets-button {
    width: 40px;
    margin: auto;
  }

  .film-video-mobile-placeholder {
    display: block;
  }

  .film-info-extension {
    display: block;
    width: 100%;
    min-width: 375px;
    height: 786px;
    position: absolute;
    top: 348px;
    background-color: #1E1E1E;
  }

  .film-info {
    margin-top: 0;
    height: 786px;
  }
  .film-info-in-process {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    margin-top: 16px;
    margin-left: 16px;
  }
  .film-info-title {
    font-size: 24px;
    line-height: 38px;
    margin-top: 16px;
    margin-left: 0;
  }
  .film-info-grid {
    margin-left: 0;
    margin-right: 0;
    margin-top: 24px;
    width: 100%;
    height: 960px;
    grid-template-rows: 166fr 628fr;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .film-info-grid-cell:first-child {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 54fr 166fr;
    gap: 48px 0;
  }
  .film-info-grid-cell-left-top icon {
    height: 16px;
  }
  .film-info-grid-cell-left-top-title {
    font-size: 16px;
    line-height: 24px;
  }
  .film-info-grid-cell-left-bottom {
    font-size: 14px;
    line-height: 22px;
    margin-left: 28px;
  }
  .film-info-grid-cell-left:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .film-info-grid-cell-left:last-child {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .film-info-grid-cell-paragraph {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 12px;
  }

  .film-info-grid-cell-left:nth-child(2) {
    display: block;
  }

  .participants {
    margin-top: 56px;
    height: 330px;
    overflow: scroll;
  }
  .participants-top-title {
    font-size: 18px;
    line-height: 34px;
    position: absolute;
  }
  .participants-top-carets a img {
    height: 26px;
  }
  .participants-main {
    height: 272px;
    width: 480px;
    min-width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
  .participants-main-participant {
    width: 32%;
  }
  .participants-main-participant-photo {
    height: 216px;
    width: 100%;
  }
  .participants-main-participant-name {
    font-size: 14px;
    line-height: 24px;
  }
  .participants-main-participant-occupation {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  .participants-main-participant:nth-child(1n+4) {
    display: none;
  }

  .partners-extension {
    height: 265px;
    top: 1558px;
  }

  .partners {
    height: 265px;
    margin-top: 38px;
  }
  .partners-top {
    margin-top: 24px;
    height: 26px;
  }
  .partners-top a img {
    height: 24px;
  }
  .partners-top-title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
  }
  .partners-grid {
    margin-top: 32px;
    height: 143px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .partners-grid-cell:nth-child(3) {
    grid-row-start: 1;
    grid-column-start: 4;
  }
  .partners-grid-cell:nth-child(9), .partners-grid-cell:nth-child(10), .partners-grid-cell:nth-child(11), .partners-grid-cell:nth-child(12) {
    display: none;
  }

  .partner-logo {
    max-width: 108px;
    max-height: 50px;
  }

  .testimonials {
    display: none;
  }

  .other-films {
    display: none;
  }

  .other-films-placeholder {
    height: 730px;
  }
  .other-films-placeholder .other-films-title {
    font-size: 18px;
    line-height: 34px;
  }
  .other-films-placeholder .other-films-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .other-films-placeholder .other-films-mobile-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 12px;
    width: 100%;
    max-width: 420px;
    height: 672px;
    margin-top: 24px;
  }
  .other-films-placeholder .other-films-mobile-grid-cell {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .other-films-placeholder .other-films-mobile-grid-cell::before {
    content: "";
    position: absolute;
    width: 92%;
    min-width: 348.67px;
    max-width: 420px;
    height: 216px;
    background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
    opacity: 0.8;
  }
  .other-films-placeholder .other-films-mobile-grid-cell::after {
    content: "";
    position: absolute;
    width: 92%;
    min-width: 348.67px;
    max-width: 420px;
    height: 216px;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    text-align: center;
    text-transform: uppercase;
    /* White */
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .other-films-placeholder .other-films-mobile-grid .other-films-mobile-grid-cell:first-child {
    background-image: url(img/film-2.jpg);
  }
  .other-films-placeholder .other-films-mobile-grid .other-films-mobile-grid-cell:first-child::after {
    content: "BLACK SOIL";
  }
  .other-films-placeholder .other-films-mobile-grid .other-films-mobile-grid-cell:nth-child(2) {
    background-image: url(img/film-3.jpg);
  }
  .other-films-placeholder .other-films-mobile-grid .other-films-mobile-grid-cell:nth-child(2)::after {
    content: "MOUNTAIN ISOLATION";
  }
  .other-films-placeholder .other-films-mobile-grid .other-films-mobile-grid-cell:nth-child(3) {
    background-image: url(img/film-4.jpg);
  }
  .other-films-placeholder .other-films-mobile-grid .other-films-mobile-grid-cell:nth-child(3)::after {
    content: "DISCOVER UKRAINE BAKOTA";
  }
}