body {
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    width: 100%;
    height: 4500px;
    margin: 0px;
}

.div-top {
    position: absolute;
    width: 1248px;
    height: 754px;
    left: 240px;
    top: 50px;
}

.header {
    position: absolute;
    width: 1120px;
    height: 60px;
    display: flex;
    align-items: center;
}

.logo {
    width: 49px;
    height: 35px;
    background: url(images/Logo.svg);
}

.navigation {
    width: 322px;
    height: 30px;
    margin-left: 121px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-1 {
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    text-decoration: none;
}

.nav-2 {
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    text-decoration: none;
}



.request-button {
    width: 210px;
    height: 60px;
    background-color: darkred;
    margin-left: auto;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    text-decoration: none;
}

.request-arrow {
    width: 152px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.request-demo {
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;

}

.arrow-right {
    width: 20px;
    height: 14px;
}

.headline {
    position: absolute;
    width: 645px;
    height: 464px;
    top: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.save-your-data {
    width: 645px;
    height: 184px;
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #212353;
}

.data-wh-is {
    width: 380px;
    height: 120px;
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}

.learn-more {
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    font-family: Tahoma, sans-serif;;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.learn-more {
    justify-content: center;
}

.headline-image {
    position: absolute;
    width: 885px;
    height: 468px;
    left: 363px;
    top: 286px;
    background: url(images/img1.png);
}

.div-middle-1 {
    position: absolute;
    width: 1117px;
    height: 560px;
    left: 240px;
    top: 903.18px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.mid-1-img {
    margin-left: 11px;
}

.mid-1-text {
    width: 475px;
    height: 310px;
    margin-left: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mid-1-text-top {
    width: 475px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
}

.mid-1-text-bottom {
    width: 475px;
    height: 170px;
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    letter-spacing: 0.015em;
}

.div-middle-2 {
    position: absolute;
    width: 1136.85px;
    height: 1002.06px;
    left: 220px;
    top: 1613px;
    background-color: darkkhaki;
}

.div-middle-3 {
    position: absolute;
    width: 1118px;
    height: 709px;
    left: 242px;
    top: 2789px;
    background: #9C69E2;
    border-radius: 50px;
}

.testimonials {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 93px;
    margin-top: 109px;
}

.testimonials-block {
    width: 949px;
    height: 330px;
    background-color: darkseagreen;
    margin-left: auto;
    margin-right: auto;
    margin-top: 88px;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.block-in-block {
    width: 743px;
    height: 220px;
    display: flex;
    margin-top: 60px;

}

.john-fang-photo {
    width: 132px;
    height: 90px;
}

.john-fang-text {
    width: 566px;
    height: 200px;
    margin-top: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
    letter-spacing: 0.1em;
}

.john-fang-header {
    width: 100%;
    height: 50px;
}

.name {
    width: 100%;
    height: 29px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
}

.reference {
    width: 100%;
    height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #9C69E2;
    text-decoration: none;
}

.john-fang-testimonial {
    width: 100%;
    height: 130px;
}

.navigation-2 {
    width: 949px;
    height: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.slide {
    width: 55px;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle {
    display: flex;
}

.arrow-left {
    height: 100%;
    margin-left: 820px;
    display: flex;
}

.arrow-right-2 {
    height: 100%;
    margin-left: auto;
    display: flex;
}





.div-bottom {
    position: absolute;
    width: 1600px;
    height: 761px;
    left: 0px;
    top: 3648px;
    background-color: black;
}




























































































































































/*


body {
    margin: 0px;
    width: 100%;
    height: 4500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #444444;
}

header {
    background-color: greenyellow;
    width: 100%;
    height: 804px;
}

.header-content {
    background-color: ivory;
    flex-basis: 78%;
    flex-shrink: 1;
    height: 754px;
    margin-left: 15%;
    margin-right: 7%;
    margin-top: 50px;
    flex-direction: column;

}

.top {
    height: 60px;
    width: 70%;
    background-color: lightgreen;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    height: auto;
    width: 4.38%;
}

.img-logo {
    width: 100%;
    height: 100%;
}

.navigation {
    height: auto;
    width: 28.75%;
    margin-left: 10.8%;
    display: flex;
    justify-content: space-between;
}

.class {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%; /* identical to box height, or 26px 
    color: #4B5D68;
    padding-top: 17px;
}

.class1 {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%; /* identical to box height, or 26px *
    padding-top: 15px;
}

.but-demo {
    height: auto;
    width: 18.75%;
    margin-left: auto;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
}


button {
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    width: 100%;
    height: 100%;
    border: none;
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%; /* identical to box height, or 26px 
    display: flex;
    align-items: center;
    letter-spacing: 0.005em; /* 2 
    color: #212353;
}

.headline {
    background-color: teal;
    width: 51.7%;
    height: 464px;
    margin-top: 190px;
    position: absolute;
}

.top-image {
    background-color: rgb(0, 128, 38);
    width: 70.9%;
    height: 468px;
    position: absolute;
    margin-left: auto;
}

*/





















main {
    background-color: darkorange;
  
}


footer {
    background-color: floralwhite;
    margin-top: auto;
    height: 852px;
}