body {
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    width: 100%;
    height: 4500px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-top, .block-middle-1, .block-middle-2, .block-middle-3, .block-bottom {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.block-top {
    position: absolute;
    width: 1248px;
    height: 754px;
    top: 50px;
}

.header {
    position: absolute;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.logo {
    width: 49px;
    height: 35px;
    background: url(images/Logo.svg);
}

.navigation {
    width: 322px;
    height: 30px;
    margin-left: 121px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-1 {
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    text-decoration: none;
}

.nav-2 {
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    text-decoration: none;
}



.request-button {
    width: 210px;
    height: 60px;
    background-color: darkred;
    margin-left: auto;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    text-decoration: none;
}

.request-arrow {
    width: 152px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.request-demo {
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;

}

.arrow-right {
    width: 20px;
    height: 14px;
}

.headline {
    position: absolute;
    width: 645px;
    height: 464px;
    top: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.save-your-data {
    width: 645px;
    height: 184px;
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #212353;
}

.data-wh-is {
    width: 380px;
    height: 120px;
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}

.learn-more {
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    font-family: Tahoma, sans-serif;;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.learn-more {
    justify-content: center;
}

.headline-image {
    position: absolute;
    width: 885px;
    height: 468px;
    left: 363px;
    top: 286px;
    background: url(images/img1.png);
}

.block-middle-1 {
    position: absolute;
    width: 1117px;
    height: 560px;
    top: 903.18px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.mid-1-img {
    margin-left: 11px;
}

.mid-1-text {
    width: 475px;
    height: 310px;
    margin-left: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mid-1-text-top {
    width: 475px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
}

.mid-1-text-bottom {
    width: 475px;
    height: 170px;
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    letter-spacing: 0.015em;
}

.block-middle-2 {
    position: absolute;
    width: 1136.85px;
    height: 1002.06px;
    top: 1613px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    width: 584px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.features-title {
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #212353;
    margin: 0 auto;
}

.features-description {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #4B5D68;
    margin: 0 auto;
}

.main-text {
    width: 100%;
    height: 694px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    justify-items: end;
    align-content: space-between;
}


.grid {
    width: 100%;
    height: 276px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-head {
    width: 200px;
    height: 50px;
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
}

.text-description {
    width: 220px;
    height: 160px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}

.text-learn-more {
    width: 127px;
    height: 26px;
    font-family: Tahoma, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
    display: flex;
    justify-content: space-between;
}

.ref-learn {
    text-decoration: none;
}

.image-top-left {
    margin: auto auto auto auto;
    width: 232px;
}

.image-top-right {
    margin: auto auto auto auto;
    width: 241px;
}

.image-bottom-left {
    margin: auto auto 5% auto;
    width: 245px;
}

.image-bottom-right {
    margin: auto auto auto auto;
    width: 230px;
}


.block-middle-3 {
    position: absolute;
    width: 1118px;
    height: 709px;
    top: 2789px;
    background: #9C69E2;
    border-radius: 50px;
}

.testimonials {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 93px;
    margin-top: 109px;
}

.testimonials-block {
    width: 949px;
    height: 330px;
    background-color: darkseagreen;
    margin-left: auto;
    margin-right: auto;
    margin-top: 88px;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgba(99, 37, 192, 0.3);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.block-in-block {
    width: 743px;
    height: 220px;
    display: flex;
    margin-top: 60px;

}

.john-fang-photo {
    width: 132px;
    height: 90px;
}

.john-fang-text {
    width: 566px;
    height: 200px;
    margin-top: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
    letter-spacing: 0.1em;
}

.john-fang-header {
    width: 100%;
    height: 50px;
}

.name {
    width: 100%;
    height: 29px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
}

.reference {
    width: 100%;
    height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #9C69E2;
    text-decoration: none;
}

.john-fang-testimonial {
    width: 100%;
    height: 130px;
}

.navigation-2 {
    width: 949px;
    height: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.slide {
    width: 55px;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle {
    display: flex;
}

.arrow-left {
    height: 100%;
    margin-left: 820px;
    display: flex;
}

.arrow-right-2 {
    height: 100%;
    margin-left: auto;
    display: flex;
}





.block-bottom {
    position: absolute;
    width: 1118px;
    height: 761px;
    top: 3648px;
}

.footer-top {
    width: 100%;
    height: 101px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.try {
    width: 584px;
    height: 101px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.try-for-free {
    height: 52px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353; 
}

.get-limited {
    height: 29px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}

.two-buttons {
    width: 410px;
    height: 60px;
    display: flex;
}

.footer-bottom {
    width: 100%;
    height: 408px;
    margin-top: 150px;
    display: flex;
}

.col-left {
    height: 100%;
    width: 335px;
    display: flex;
    flex-direction: column;
}

.col-left-1 {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
}

.data-wh {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;
    color: #212353;
    margin-left: 20px;
}

.col-left-2 {
    width: 100%;
    height: 65px;
    margin-top: 65px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    display: flex;
    align-items: center;
}

.col-left-3 {
    width: 100%;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    align-items: center;
}

.col-left-4 {
    width: 100%;
    height: 50px;
    margin-top: auto;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #212353;
    align-items: center;
}


.col-2 {
    height: 100%;
    width: 160px;
    margin-left: 140px;
}

.about-help-sm {
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    display: flex;
    align-items: center;
}

.about-help-menu {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;
    color: #212353;
    margin-top: 30px;
}

.ref-bottom {
    text-decoration: none;
}

.col-3 {
    height: 100%;
    width: 190px;
    margin-left: 50px;
}

.col-right {
    height: 100%;
    width: 210px;
    margin-left: auto;
}

.sm-logos {
    height: 50px;
    width: 178px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.message {
    display: flex;
    right: 2%;
    bottom: 10%;
    position: fixed;

}