body {
    height: 120%;
    width: 100%;

    min-width: 1100px;
    min-height: 600px;


    margin: 0;
    display: flex;
    position: absolute;
    align-items: center;
}


aside, main {
    height: 95%;
    background-color: black;
}

aside {
    width: 9.2%;
    background-color: black;
    margin-left: 2.25%;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

   
}

.blur {
    position: relative;
    width: 9.2%;
    height: 95%;
    margin-left: -9.25%;
    border-radius: 24px;
    

    background: #000000;
    opacity: 0.7;
    filter: blur(60px);
    border-radius: 24px;
}

main {
    width: 82%;
    background-color: white;
    margin-left: 5%;
}



.logo {
    height: 7.5%;
    width: 33%;
    margin-top: 33%;
}

.image-f {
    width: 100%;
    height: 100%;
}

.navigation {
    height: 44.5%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50%;
}

.nav-item, .quit-pic {
    width: 100%;
    height: 100%;
}

.quit {
    margin-top: 95%;
    width: 20%;
}

.grid-main {
    display: grid;
    grid-template-columns: 55fr 39fr;
    grid-template-rows: 14fr 85fr;
    justify-content: space-between;
    margin: 0 auto;
    gap: 3%;
}

.grid-main-cell {
    height: 100%;
    width: 100%;


}

.grid-main-cell-top-left {
    display: flex;
    position: relative;
}

header {
    width: 100%;
    height: 90%;
    background: #F5F5F7;
    border-radius: 14px;
    margin-top: auto;
    display: flex;
}

.hello {
    height: 46.25%;
    width: 70%;
    margin-left: 5%;
    margin-top: 5%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 16px;
    /* identical to box height, or 150% */
}

.josh {
    font-family: 'Baloo Bhai', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 60px;

    /* Black */

    color: #000000;

}

.hello-image {
    margin-left: 20%;
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 100%;
    align-self: center;
}

.grid-main-cell-top-rigth {
    display: flex;
}

.top-right-rows {
    width: 100%;
    height: 90%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-1 {
    width: 100%;
    height: 25%;

    display: flex;
    justify-content: space-between;
}

.row-2 {
    width: 100%;
    height: 60%;

    display: flex;
    justify-content: space-between;
}

.course-count {
    width: 47%;
    height: 100%;
    background: #F5F5F7;
    border-radius: 14px;
}


.search-form {
    width: 60%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F5F7;
}

.search-input {
    height: 90%;
    width: 75%;
    border: 0px solid transparent;
    background: #F5F5F7;
    border-radius: 8px;
    
}

.glass {
    margin-left: 5%;
    margin-top: 3%;
}

.search-input:focus {
    outline: none;
}

.icons {
    height: 100%;
    width: 30%;

    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.profile-photo {
    height: 100%;
}

.notification {
    height: 80%;
    margin-top: -10%;
    margin-left: 5%;
}

.link-notif::after {
    content: '1';
    background-color: #DC565B;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

  

    color: #FFFFFF;
    text-decoration: none;
    position: absolute;
    top: 4%;
    left: 88%;


}

.arrow-down {
    height: 15%;
    margin-top: 250%;
    margin-left: -110%;
}

.link-photo {
    width: 32%;
}

.course-count {
    display: flex;
    justify-content: center;
    align-items: center;
}

.count-text {

    display: flex;
    width: 70%;
    height: 50%;
    align-content: center;
}

.big-digit {
    font-family: 'Baloo Bhai', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5em;
    line-height: 1.25em;
    margin: 0;
    padding: 0;

    /* Black */

    color: #000000;
}

.comp-in-prog {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.2em;
    /* or 150% */


    /* Black */

    color: #000000;

    margin-left: 5%;
}

.grid-main-cell-bottom-left {
    display: flex;
    flex-direction: column;
}

.course {
    width: 100%;
    height: 11.75%;
    display: flex;
    align-items: center;
    margin-bottom: 1%;
    background: #F5F5F7;;
    border-radius: 14px;
}

.course-active {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
}

.espanol {
    width: 80%;
    height: 100%;
    background: #F5F5F7;
    display: flex;
    border-radius: 14px;
}

.previous-next {
    width: 15%;
    height: 100%;

    display: flex;
    justify-content: space-between;
}

.arrows-links {
    display: flex;


}

.arrows-prev-next {
    width: 80%;
    height: 80%;
    margin: auto;
    min-width: 80%;
}

.white-rectangle-active {
    height: 90%;
    width: 10%;
    background: #ffffff;;
    margin-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    border-radius: 12%;

}

.course-logo {
    width: 80%;
    height: 80%;
    margin: auto;
}

.course-author-active {
    height: 90%;
    width: 30%;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course-name-active {
    font-family: 'Baloo Bhai', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80%;
    line-height: 27px;

    /* Black */

    color: #000000;
    height: 50%;

}

.author-name-active {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 70%;
    line-height: 15px;

    /* Black */

    color: #000000;

    height: 50%;

}

.progress {
    height: 90%;
    width: 9%;
    align-items: center;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: 0%;
    margin-top: auto;
    margin-bottom: auto;
}

.prog-83 {
    margin: auto, auto, auto, auto;
    margin-left: 25%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.7em;
    line-height: 15px;

    /* Black */

    color: #000000;
    
}

.prog-pic {
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: -70%;
}

button {
    background: #000000;
    border-radius: 8px;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;

    color: #FFFFFF;
    height: 90%;
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;

}

.continue {
    width: 30%;
    height: 80%;
    margin-top: 2%;
    margin-left: 5%;
    
}

.continue-button {
    width: 100%;
}

button:focus {
    outline: none;

}

.courses-menu {
    height: 15%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.courses-header {
    font-family: 'Baloo Bhai', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;

    /* Black */

    color: #000000;
}

.category {
    font-family: 'Baloo Bhai', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;

    /* Black */

    color: #000000;

    opacity: 0.3;
    text-decoration: none;
    margin-right: 3%;
}

.category:hover {
    opacity: 1;
}


.opacity-1 {
    opacity: 1;
}

.white-rectangle {
    height: 90%;
    width: 8%;
    background: white;;
    margin-left: 1.5%;
    border-radius: 12%;
    display: flex;

}

.course-author {
    height: 90%;
    width: 30%;

    margin-left: 3%;
}

.course-name {
    font-family: 'Baloo Bhai', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80%;
    line-height: 27px;

    /* Black */

    color: #000000;
    height: 50%;

}

.author-name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 70%;
    line-height: 15px;

    /* Black */

    color: #000000;

    height: 50%;

}

.duration {
    height: 50%;
    width: 15%;

    margin-left: 3%;
    display: flex;
    align-items: center;
}

.time, .rate {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;

    /* Black */

    color: #000000;

    margin-left: 10%;
}

.rating {
    height: 50%;
    width: 10%;

    margin-left: 3%;
    display: flex;
    align-items: center;
}

.view-course {
    background: #000000;
    border-radius: 8px;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;

    color: #FFFFFF;
    height: 70%;
    width: 22%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3%;

}

.view-button {
    width: 100%;
    height: 100%;
    margin-left: 0;
}

.stats {
    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: column;
}

.your-stats {
    font-family: 'Baloo Bhai', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;

    /* Black */

    color: #000000;


}

.stats-header {
    width: 100%;

    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second-line {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.hours-stats {
    width: 60%;

}

select, option {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;

    /* Black */

    color: #000000;

    background: #F5F5F7;
    border-radius: 8px;

    width: 25%;
    text-align-last: center;
    border: none;
}

select:focus {
    outline: none;
}

.graph-container {

    width: 100%;
    height: 70%;
    margin-top: 1%;
}

.graph {
    height: 100%;
    width: 100%;
    margin-top: 5%;
}

.learn-more {

    width: 100%;
    height: 28%;
    display: flex;
    flex-direction: row;
    background: #F5F5F7;;
    border-radius: 14px;
    margin-top: 10%;
}

.learn-left {

    height: 100%;
    width: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.learn-square {

    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 8%;
}

.even-more {
    font-family: 'Baloo Bhai', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.5rem;

   color: black;

   max-height: 40px;

}




.premium {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5rem;
    /* or 150% */


    /* Black */

    color: #000000;

    max-height: 40px;


}

.go {
    width: 80%;
    height: 30%;
    margin-left: -5%;
    margin-top: auto;
}

.go-prem {
    width: 100%;
    height: 100%;
    min-height: 30px;
}

.learn-right {

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.learn-img {
    width: 60%;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    font-size: 125%;
}