body {
    height: 100%;
    width: 100%;

    min-width: 1100px;
    min-height: 600px;

    background-color: aquamarine;
    margin: 0;
    display: flex;
    position: absolute;
    align-items: center;
}


aside, main {
    height: 95%;
    background-color: black;
}

aside {
    width: 9.2%;
    background-color: black;
    margin-left: 2.25%;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

   
}

.blur {
    position: relative;
    width: 9.2%;
    height: 95%;
    margin-left: -9.25%;
    border-radius: 24px;
    

    background: #000000;
    opacity: 0.7;
    filter: blur(60px);
    border-radius: 24px;
}

main {
    width: 78%;
    background-color: #BADA55;
    margin-left: 5%;
}



.logo {
    height: 7.5%;
    width: 33%;
    margin-top: 33%;
}

.image-f {
    width: 100%;
    height: 100%;
}

.navigation {
    height: 44.5%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50%;
}

.nav-item, .quit-pic {
    width: 100%;
    height: 100%;
}

.quit {
    margin-top: 95%;
    width: 20%;
}

.grid-main {
    display: grid;
    grid-template-columns: 55fr 39fr;
    grid-template-rows: 24fr 75fr;
    justify-content: space-between;
    margin: 0 auto;
    gap: 5.7%;
}

.grid-main-cell {
    height: 100%;
    width: 100%;
    background-color: darkgreen;

}

.grid-main-cell-top-left {
    display: flex;
    position: relative;
}

header {
    width: 100%;
    height: 75%;
    background: #F5F5F7;
    border-radius: 14px;
    margin-top: auto;
    display: flex;
}

.hello {
    height: 46.25%;
    width: 33%;
    background-color: darkolivegreen;
    margin-left: 5%;
    margin-top: 5%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
}

.josh {
    font-family: 'Baloo Bhai', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75em;
    line-height: 57px;

    /* Black */

    color: #000000;

}

.hello-image {
    margin-left: 20%;
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 100%;
    align-self: center;
}

.grid-main-cell-top-rigth {
    display: flex;
}

.top-right-rows {
    width: 100%;
    height: 75%;
    background: #bababa;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-1 {
    width: 100%;
    height: 25%;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}

.row-2 {
    width: 100%;
    height: 60%;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}

.course-count {
    width: 47%;
    height: 100%;
    background: #F5F5F7;
    border-radius: 14px;
}

.search-input {
    width: 68%;
    height: 92%;
    border: 0px solid transparent;
    background: #F5F5F7;
    border-radius: 8px;
    background-image: url("img/m-glass.svg");
    background-repeat: no-repeat;
    background-size: 7%;
    background-position-x: 5%;
    background-position-y: 50%;
    text-align: center;
}

.search-input:focus {
    outline: none;
}

.icons {
    height: 100%;
    width: 23%;
    background-color: hotpink;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.profile-photo {
    height: 100%;
    width: auto;
}

.notification {
    height: 100%;
    margin-top: -5%;
    margin-left: 5%;
}

.arrow-down {
    margin-top: 250%;
}

.link-photo {
    width: 32%;
}

.course-count {
    display: flex;
    justify-content: center;
}

.count-text {
    background-color: indigo;
    display: flex;
    width: 70%;
    align-content: center;
}

.big-digit {
    font-family: 'Baloo Bhai', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5em;
    line-height: 1.25em;
    margin: 0;
    padding: 0;

    /* Black */

    color: #000000;
}

.comp-in-prog {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.2em;
    /* or 150% */


    /* Black */

    color: #000000;

    margin-left: 5%;
}

.grid-main-cell-bottom-left {
    display: flex;
    flex-direction: column;
}

.course {
    width: 100%;
    height: 11.75%;
    border: 1px solid #BADA55;
}

.course-active {
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
}

.espanol {
    width: 75%;
    height: 100%;
    background-color: chartreuse;
    display: flex;
}

.previous-next {
    width: 18%;
    height: 100%;
    background-color: darkcyan;
    display: flex;
    justify-content: space-between;
}

.arrows-links {
    display: flex;


}

.arrows-prev-next {
    width: 80%;
    height: 80%;
    margin: auto;
    min-width: 80%;
}

.white-rectangle-active {
    height: 90%;
    width: 8%;
    background-color: blue;
    margin-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

.spanish-pic {
    width: 80%;
    height: 80%;
    margin: auto;
}

.course-author {
    height: 70%;
    width: 30%;
    background-color: chocolate;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course-name {
    font-family: 'Baloo Bhai', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80%;
    line-height: 27px;

    /* Black */

    color: #000000;
    height: 50%;

}

.author-name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 70%;
    line-height: 15px;

    /* Black */

    color: #000000;

    height: 50%;

}

.progress {
    height: 90%;
    width: 8%;
    background-color: blue;
    align-items: center;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.prog-83 {
    margin: auto, auto, auto, auto;
    margin-left: 25%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.7em;
    line-height: 15px;

    /* Black */

    color: #000000;
    
}

.prog-pic {
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: -70%;
}

button {
    background: #000000;
    border-radius: 8px;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;

    color: #FFFFFF;
    height: 90%;
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;

}

button:focus {
    outline: none;

}

.courses-menu {
    height: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.courses-header {
    font-family: 'Baloo Bhai', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;

    /* Black */

    color: #000000;
}

.category {
    font-family: 'Baloo Bhai', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;

    /* Black */

    color: #000000;

    opacity: 0.3;
    text-decoration: none;
    margin-right: 3%;
}

.opacity-1 {
    opacity: 1;
}

