body {
    width: 100%;
    height: 1480px;
    margin: 0px;
}

.div-top {
    width: 100%;
    height: 500px;
    background-color: #ed4c5c;
}

.div-top-text {
    width: 445px;
    height: 195px;
    position: absolute;
    margin: 122px 165px;
}

.div-stay-focused {
    width: 100%;
    height: 107px;
}

.p-stay-focused {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    position: absolute;
    margin: 0px;
}

.div-it-is-important {
    width: 100%;
    height: 64px;
    margin-top: 24px;
}

.p-it-is-important {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%; /* or 20px */
    text-align: justify;
    color: #FFFFFF;
}

.div-top-images {
    width: 533px;
    height: 311px;
    position: absolute;
    margin-top: 94px;
    margin-left: 691px;
}

.img-1 {
    position: absolute;
    z-index: 3;
    border-radius: 15px;
}

.div-top-download {
    width: 134px;
    height: 32px;
    position: absolute;
    margin: 357px 163px;
}

.google {
    position: absolute;
}

.apple {
    position: absolute;
    margin-left: 57px;
}

.windows {
    position: absolute;
    margin-top: 4px;
    margin-left: 110px;
}

.div-middle {
    width: 100%;
    height: 545px;
    background-color: #ffffff;
}

.div-middle-text {
    width: 445px;
    height: 160px;
    position: absolute;
    margin: 122px 165px;
}

.p-contact {
    position: absolute;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

.div-questions {
    width: 434px;
    height: 64px;
    margin-top: 96px;
}

.p-questions {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%; /* or 20px */
    text-align: justify;
    color: #000000;
}

.form {
    width: 540px;
    height: 305px;
    position: absolute;
    margin: 117px 165px 78px 735px;
}

.div-f-name {
    position: absolute;
    width: 255px;
    height: 60px;
}

.div-l-name {
    position: absolute;
    margin-left: 285px;
    width: 255px;
    height: 60px;
}

.div-phone {
    position: absolute;
    margin-top: 84px;
    width: 540px;
    height: 60px;
}

.div-service {
    position: absolute;
    margin-top: 168px;
    width: 540px;
    height: 60px;
}

.div-submit {
    position: absolute;
    margin-top: 255px;
    width: 160px;
    height: 50px;
}

.input-f-name, .input-l-name, .input-phone, .select-service {
    width: 100%;
    height: 100%;
    border: 1px solid #333333;
    border-radius: 6px;
    box-sizing: border-box;
    padding-left: 31px;
}


/* HIDE ARROWS IN INPUT NUMBER */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* HIDE ARROWS IN INPUT NUMBER */
input[type=number] {
  -moz-appearance: textfield;
}

input {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: black;
}

input:focus, select:focus, button:focus {
    outline: none;
}



input::placeholder {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
}

select {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position-x: 500px;
    background-position-y: 23px;
}

button {
    width: 100%;
    height: 100%;
    background-color: #ed4c5c;
    border: 1.5px solid #ed4c5c;
    border-radius: 6px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px; /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
}



.div-bottom {
    width: 100%;
    height: 435px;
    background-color: #fafafa;
}

.div-address, .div-services, .div-get-in-touch, .div-we-support, .div-visa-mastercard {
    position: absolute;
}

.div-address {
    width: 259px;
    height: 264px;
    margin-top: 85px;
    margin-left: 161px;
}

.div-address-address {
    width: 65px;
    height: 22px;
    margin-left: 5px;
    position: absolute;
}

.p-address {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px; /* identical to box height */
    text-align: center;
    color: #101010;
    margin: 0px;
}

.div-pipang {
    width: 254px;
    height: 54px;
    margin-left: 5px;
    margin-top: 55px;
    position: absolute;
}

.p-pipang {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%; /* or 18px */
    color: #101010;
    margin: 0px;
}

.div-copyright {
    width: 160px;
    height: 14px;
    margin-top: 250px;
    position: absolute;
}

.p-copyright {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
    margin: 0px;
}

.div-services {
    width: 254px;
    height: 164px;
    margin-top: 85px;
    margin-left: 450px;
}

.div-services-services {
    width: 70px;
    height: 22px;
    position: absolute;
}

.p-services {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px; /* identical to box height */
    color: #101010;
    margin: 0px;
}

.div-overview {
    width: 254px;
    height: 114px;
    margin-top: 50px;
    position: absolute;
}

.p-overview {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%; /* or 19px */
    text-transform: capitalize;
    color: #000000;
    margin: 0px;
}

a {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%; /* or 19px */
    text-transform: capitalize;
    color: #000000;
    margin: 0px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.div-get-in-touch {
    width: 122px;
    height: 128px;
    margin-top: 85px;
    margin-left: 734px;
}

.div-get-in-touch-get-in-touch {
    width: 101px;
    height: 22px;
    position: absolute;
}

.p-get-in-touch {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px; /* identical to box height */
    text-align: center;
    color: #101010;
    margin: 0px;
}

.div-email {
    width: 122px;
    height: 14px;
    margin-top: 55px;
    position: absolute;
}

.p-email {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
    margin: 0px;
}

.div-phone-number {
    width: 96px;
    height: 14px;
    margin-top: 80px;
    position: absolute;
}

.p-phone-number {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #121212;
    margin: 0px;
}

.div-social-media {
    width: 66px;
    height: 14px;
    margin-top: 114px;
    position: absolute;
}

.facebook {
    position: absolute;
}

.linkedin {
    position: absolute;
    margin-left: 26px;
}

.twitter {
    position: absolute;
    margin-left: 52px;
}

.div-we-support {
    width: 96px;
    height: 22px;
    margin-top: 85px;
    margin-left: 1022px;
}

.p-we-support {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px; /* identical to box height */
    color: #101010;
    margin: 0px;
}

.div-visa-mastercard {
    width: 216px;
    height: 31px;
    margin-top: 140px;
    margin-left: 1028px;
}

.img-visa-mastercard {
    width: 216px;
    height: 31px;
}
