body {
    height: 3934px;
}



.bottom {
    top: 3685px;
}



.film-video-mobile-placeholder, .top-video-mobile {
    display: none;

    height: 216px;
    width: 100%;
    margin-top: 24px;
}


.film-video {
    width: 100%;
    height: 638px;
    margin-top: 40px;


    background-image: url(../img/five-peaks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  25% center;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    &-carets {
        position: absolute;
        z-index: 2;
        margin-bottom: 20px;
        margin-right: 40px;
        display: flex;




        & a img {
            height: 40px;
        }
    }

    &-gradient {
        width: 100%;
        height: 100%;

        background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
        opacity: 0;
        transition-duration: 0.5s;

        &:hover {
            opacity: 0.8;
            transition-duration: 0.5s;
        }
    }   
}

.film-info-extension {
    display: none;
}


.film-info {
    width: 100%;
    height: 639px;
    margin-top: 40px;

    background-color: #1E1E1E;

    display: flex;
    flex-direction: column;

    &-in-process {
        margin-top: 56px;
        margin-left: 80px;

        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 20px;
        /* identical to box height, or 91% */

        text-transform: uppercase;

        /* White */

        color: #FFFFFF;


    }

    &-title {
        color: #ffffff;
        margin-top: 32px;
        margin-left: 80px / 1200px *100%;

        font-size: 40px;
        line-height: 38px;
    }

    &-grid {
        width: 1120px / 1200px * 100%;
        height: 437px;
        margin-top: 56px;
        margin-left: auto;
        margin-right: auto;


        display: grid;
        grid-template-columns: 378fr 742fr;

        &-cell {

            &:first-child {
                display: grid;
                grid-auto-rows: 66px 157px 62px ;
                gap: 48px;
            }

            &:last-child {
                display: flex;
                flex-direction: column;
             
                height: 100%;
            }

            &-paragraph {
                width: 606px / 742px * 100%;

                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                /* or 162% */


                /* White */

                color: #FFFFFF;

                margin-bottom: 32px;

            }
        }
        
    
    }
}

.film-info-grid-cell-left:nth-child(2) {
    display: none;
}

.film-info-grid-cell-left-top {
    width: 100%;
    height: 30px;
  

    display: flex;
    align-items: center;

    &-icon {
        height: 24px;
    }

    &-title {
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        /* identical to box height, or 156% */

        text-transform: uppercase;

        /* White */

        color: #FFFFFF;

        //////////////////////
        padding: 0;
        margin: 0;
        /////////////////////

        margin-left: 3%;
    }
}

.film-info-grid-cell-left-bottom {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */


    /* White */

    color: #FFFFFF;

    margin-left: 10%;
    margin-top: 8px;

    & ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: square;
            margin-bottom: 4px;

            &::marker {
                color: #777777;
            }
        }
    }
}


/////////////////////////////////////
/////////////////////////////////////
/////////////////////////////////////


.participants {
    width: 100%;

    ///////////////////////////////////////////////////////////
    overflow: hidden;

    height: 412px;
    margin-top: 120px;


    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-top {
        margin: 0;
        display: flex;
        justify-content: space-between;
        color: #FFFFFF;
    }

    &-main {
        width: 100%;
    ////////////////////////////////////////////////////////////////////////
        min-width: 1000px;
                
        height: 322px;

        display: flex;
        justify-content: space-between;

        &-participant {
            height: 100%;
            width: 175px / 1200px * 100%;
        

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            &-photo {
                height: 256px;
                width: 100%;

                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-name {
                font-family: 'Oswald', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height, or 150% */

                text-align: center;
                text-transform: uppercase;

                /* White */

                color: #FFFFFF;
            }

            &-occupation {
                
                font-family: 'Raleway', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                /* identical to box height, or 157% */

                text-align: center;
                text-transform: uppercase;

                /* White */

                color: #FFFFFF;

            }
        }
    }
}

#participant-1 {
    background-image: url(../img/participants/participant-7.jpg);
}

#participant-2 {
    background-image: url(../img/participants/participant-8.jpg);
}

#participant-3 {
    background-image: url(../img/participants/participant-9.jpg);
}

#participant-4 {
    background-image: url(../img/participants/participant-10.jpg);
}

#participant-5 {
    background-image: url(../img/participants/participant-11.jpg);
}

#participant-6 {
    background-image: url(../img/participants/participant-12.jpg);
}





.partners {
    margin-top: 120px;
    width: 100%;
    height: 690px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

    &-top {
        margin-top: 120px;
        width: 100%;
        height: 34px;

        display: flex;
        justify-content: space-between;

        &-title {
            color: #010101;
            width: 30%;
        }

        &-carets {
            width: 10%;
            display: flex;
            justify-content: flex-end;

        }
    }

    &-grid {
        margin-top: 49px;
        width: 100%;
        height: 368px;
        
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

        &-cell {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.partner-logo {
    width: 80%;
    height: 100%;
}

.partners-extension {
    width: 100%;
    min-width: 320px;
    height: 690px;
    background-color: #ffffff;

    position: absolute;
    top: 2089px;
}






.testimonials {
    margin-top: 120px;
    width: 100%;
    height: 318px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-top {
        margin: 0;
    }

    &-row {
        width: 100%;
        height: 228px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        &-review {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            background-color: #C7C7C7;

            &-top {
                height: 52px;
                width: 332px / 398px * 100%;
                display: flex;
                justify-content: space-between;

                &-profile {
                    width: 60%;
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &-name {
                        font-family: 'Oswald', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 24px;
                        /* identical to box height, or 133% */


                        /* Black */

                        color: #010101;
                    }

                    &-occupation {
                        font-family: 'Raleway', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 20px;
                        /* identical to box height, or 167% */


                        /* Black */

                        color: #010101;
                    }
                }
            }

            &-text {
                width: 332px / 398px * 100%;
                height: 102px;

                font-family: 'Raleway', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                /* or 143% */


                /* Black */

                color: #010101; 

            }
        }

    }
}

.testimonials-row-review:nth-child(2) {
    background-color: #1E1E1E;
}

.black-to-white {
    color: #ffffff;
}

.other-films-placeholder {
    height: 348px;
    width: 100%;

    margin-top: 120px;

    color: white;
}

.other-films {
    width: 100%;
    height: 274px;

    position: absolute;
    top: 3411px;
    z-index: 2;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
}



.gallery-photo {
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.photo-hovered {
display: flex;
justify-content: center;
align-items: center;
}

.photo-hovered-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 115px;




    opacity: 0;
    transition-duration: 2s;


    &-title {
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 34px;
        /* identical to box height, or 106% */

        text-align: center;
        text-transform: uppercase;

        /* White */

        color: #FFFFFF;
    }

    &-button {
        width: 189px;
        min-height: 48px;
        padding: 0;
    }
}

.photo-hovered-block img {
    width: 200px;
}

.other-films-1, 
.other-films-2, 
.other-films-3 {

    display: flex;
    align-items: center;
    justify-content: center;


    &:hover .photo-hovered {
        width: 100%;
        height: 100%;

        background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);

       

        display: flex;
        justify-content: center;
        align-items: center;

        &-block {
            opacity: 1;
            transition-duration: 2s;
        }
        
    }
}

#height-bigger-1, #height-bigger-2 {
    height: 150px;
}

.other-films-1 {
    background-image: url(../img/Photo-5.jpg);
}

.other-films-2 {
    background-image: url(../img/Photo-3.jpg);
}

.other-films-3 {
    background-image: url(../img/Photo-4.jpg);
}


.other-films-mobile {
    display: none;
}













////=========ОБОВ'ЯЗКОВО!=========////

@media (max-width: 1180px) {
    .film-info-grid-cell-paragraph {
        width: 100%;
    }

    .photo-hovered-block {
        &-title {
            font-size: 24px;
            line-height: 32px;
        }
       
    }
}

@media (max-width: 1000px) {
    .testimonials-row-review-text {
        height: 120px;
        font-size: 12px;
        line-height: 18px;
    }

    .testimonials-row-review-top img {
        max-width: 35%;
    }
}


@media (max-width: 860px) {
    .film-info-grid-cell-paragraph {
        font-size: smaller;
    }
}



@media (max-width: 720px) {
    body {
        height: 2809px;
    }

    .bottom {
        top: 2633px;
    }

    
    .film-video {
        display: none;
    }

    .top-video-mobile {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;


        position: absolute;
        top: 132px;
        z-index: 20;
        min-width: 320px;
        max-width: 420px;


        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        background-image: url(../img/five-peaksm.jpg);

        &-gradient {
            height: 100%;
            width: 100%;

            background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
            opacity: 0.8;
        }

        &-carets {
            height: 40px;
            width: 90px;
            position: absolute;
            display: flex;

            &-button {
                width: 40px;
                margin: auto;
            }
        }
    }

    .film-video-mobile-placeholder {
        display: block;
        
    }


    
    .film-info-extension {
        display: block;

        width: 100%;
        min-width: 320px;
        height: 786px;

        position: absolute;
        top: 372px;

        background-color: #1E1E1E;

    }



    .film-info {
        margin-top: 0;
        height: 786px;

        &-in-process {
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;

            margin-top: 16px;
            margin-left: 16px;
        }

        &-title {
            font-size: 24px;
            line-height: 38px;

            margin-top: 16px;
            margin-left: 0;
        }

        &-grid {
            margin-left: 0;
            margin-right: 0;
            margin-top: 24px;

            width: 100%;
            height: 960px;

            grid-template-rows: 166fr 628fr;
            grid-template-columns: 1fr;
            gap: 16px;

            &-cell {
                &:first-child {
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 54fr 166fr;

                    gap: 48px 0;
                }

                &-left {
                    &-top {
                        icon {
                            height: 16px;
                        }

                        &-title {
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }

                    &-bottom {
                        font-size: 14px;
                        line-height: 22px;

                        margin-left: 28px;
                    }

                    &:nth-child(3) {
                        grid-row-start: 2;
                        grid-row-end: 3;
                        grid-column-start: 1;
                        grid-column-end: 2;

                  
                    }

                    &:last-child {
                        grid-row-start: 1;
                        grid-row-end: 2;
                        grid-column-start: 2;
                        grid-column-end: 3;
                    }
                }

                &-paragraph {
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 400;

                    margin-bottom: 12px;
                }
            }
        }
    }

    .film-info-grid-cell-left:nth-child(2) {
        display: block;
    }


    
    .participants {
        margin-top: 56px;
        height: 330px;

        overflow: scroll;

        &-top {
            &-title {
                font-size: 18px;
                line-height: 34px;
                position: absolute;
            }

            &-carets a img{
                height: 26px;
            }
        }

        &-main {
            height: 272px;
            width: 480px;

            min-width: 480px;
            margin-right: auto;
            margin-left: auto;

            &-participant {
                width: 32%;
                
                &-photo {
                    height: 216px;
                    width: 100%;
                }

                &-name {
                    font-size: 14px;
                    line-height: 24px;
                }

                &-occupation {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 16px;
                }

                &:nth-child(1n + 4) {
                    display: none;
                }
            }
        }
    }





    .partners-extension {
        height: 265px;
        top: 1582px;
    }

    .partners {
        height: 265px;
        margin-top: 38px;

        &-top {
            margin-top: 24px;
            height: 26px;

            & a img {
                height: 24px;
            }

            &-title {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 26px;
            }
        }

        &-grid {
            margin-top: 32px;
            height: 143px;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            &-cell {
                &:nth-child(3) {
                    grid-row-start: 1;
                    grid-column-start: 4;
                }  

 
                &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12)  {
                    display: none;
                }
            }
        }
    }
    
    .partner-logo {
        max-width: 108px;
        max-height: 50px;
    }


    
    .testimonials {
        display: none;
    }


    .other-films {
        display: none;
    }
    
    .other-films-placeholder {
        height: 730px;
        margin-top: 56px;

        .other-films-title {
            font-size: 18px;
            line-height: 34px;
        }

        .other-films-mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            &-grid {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                gap: 12px;
        
                width: 100%;
                max-width: 420px;
                height: 672px;
                margin-top: 24px;

                &-cell {
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                
                    &::before {
                        content: '';
                
                
                        position: absolute;
                
                        width: 92%;
                        min-width: 295px;
                        max-width: 420px;
                        height: 216px;
                        background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
                        opacity: 0.8;
                    }
                
                 
                    &::after {
                        content: '';
                
                        position: absolute;
                
                        width: 92%;
                        min-width: 295px;
                        max-width: 420px;
                        height: 216px;
                
                
                        font-family: 'Oswald', sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 28px;
                        /* identical to box height, or 140% */
                
                        text-align: center;
                        text-transform: uppercase;
                
                        /* White */
                
                        color: #FFFFFF; 
                
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                
                }
                
                
                
                .other-films-mobile-grid-cell:first-child{
                    background-image: url(../img/film-2m.jpg);
                    &::after {
                        content: 'BLACK SOIL';
                    }
                }
                
                .other-films-mobile-grid-cell:nth-child(2) {
                    background-image: url(../img/film-3m.jpg);
                    &::after {
                        content: 'MOUNTAIN ISOLATION';
                    }
                }
                
                .other-films-mobile-grid-cell:nth-child(3) {
                    background-image: url(../img/film-4m.jpg);
                    &::after {
                        content: 'DISCOVER UKRAINE BAKOTA';
                    }
                }
        
            }
        }
    }
}

@media (max-width: 375px) {
    .film-info-grid-cell-left-top-title {
        font-size: 14px;
    }

    .film-info-grid-cell-paragraph {
        font-size: 12px;
    }
}


/////////////////////////////////

