html {
    min-width: 375px;
}

body {

    height: 4635px;
 
}


.top-image {
    width: 100%;
    min-width: 375px;
    height: 700px;
    position: absolute;

    background-image: url(../img/image-21.jpg);
    background-repeat: no-repeat;
    background-position: center 75%;
    background-size: cover;

    .header-gradient {
        width: 100%;
        height: 80px;
        background: linear-gradient(180deg, #010101 -17.5%, rgba(1, 1, 1, 0) 100%);
        position: absolute;
    }

    
}



.top-block {
    width: 100%;
    height: 620px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-content {
        height: 409px;
        // width: 863px / 1200px * 100%;
        width: 100%;
        position: relative;
        top: 147px;

        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 64px;
            line-height: 100%;
            /* identical to box height, or 100% */

            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-align: center;

            /* White */

            color: #FFFFFF;

        }

        &-description {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            /* or 144% */

            text-align: center;

            color: #FFFFFF;

            margin-top: 16px;
        }

        &-button {
            width: 262px;
            min-height: 56px;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;

            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            /* identical to box height, or 133% */

            text-transform: capitalize;

            /* Black */

            color: #010101;     

            margin-top: 32px;

        }

        &-arrow {
            margin-top: 107px;
        }
    }

 
}


.grid {
    margin-top: 120px;
    width: 100%;
    height: 109px;

    display: grid;
    grid-template-columns: 215fr 237fr 207fr 286fr;
    gap: 4%;
}
    

        
.cell {
    border: 1px solid black;
    height: 103px;
}

.cell-top {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */

    text-align: right;
    text-transform: uppercase;

    /* Dark Grey */

    color: #1E1E1E;

    opacity: 0.7;

    position: relative;
}

.cell-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    top: -35px;
}

.cell-bottom-number {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 76px;
    /* identical to box height, or 112% */


    /* White */

    color: #FFFFFF;
    margin-right: 10px;
}

.cell-bottom-text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: right;
    text-transform: uppercase;

    /* White */

    color: #FFFFFF;
}


@media (max-width: 1300px) {
    .body-container .grid {
        gap: 1%;
    }
}

@media (max-width: 1100px) {
    .cell-top {
        font-size: 36px;
    }

   .cell-bottom {
        align-items: baseline;
    }

    #two-rows {
        align-items: center;
    }

    .cell-bottom-number {
        font-size: 50px;
    }

    .cell-bottom-text {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    .body-container .grid {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 132fr 181fr;
        gap: 1%;    

    }

    .cell-top {
        font-size: 32px;
        line-height: 36px;
    }

    .cell-bottom-number {
        font-size: 44px;
        line-height: 50px;
    }

    .cell-bottom-text {
        font-size: 16px;
        line-height: 20px;
    }

    .cell-bottom {
        top: -20px;
    }

    #two-rows-text {
        margin-top: 10px;
    }
}

@media (max-width: 720px) {
    .grid {
        margin-top: 56px;
    }
}













.services {
    height: 214px;
    width: 100%;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;

    .service-block {
        height: 100%;
        width: 342px / 1200px * 100%;
        background-repeat: no-repeat;
        background-position: 30% center;
        background-size: cover;

    
        &:first-child {
            background-image: url(../img/image-20.jpg);
        }

        &:nth-child(2) {
            background-image: url(../img/image-30.jpg);
        }

        &:last-child {
            background-image: url(../img/image-40.jpg);
        }

        .obscuration {
            width: 100%;
            height: 100%;
            background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
            opacity: 0.8;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            display: flex;
            justify-content: center;

            .we-do {
                font-family: 'Oswald', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 40px;
                line-height: 64px;
                /* identical to box height, or 160% */

                text-align: right;
                text-transform: uppercase;

                /* White */

                color: #FFFFFF;
                margin-top: 138px;
            }
        }
    }
}

.history {
    width: 100%;
    height: 592px;
    margin-top: 120px;
    background-image: url(../img/Group221.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: flex;

    &-text {
        width: 50%;
        height: 90%;
        margin-top: 20px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-title {
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 34px;
            /* identical to box height, or 121% */

            text-transform: uppercase;

            /* White */

            color: #FFFFFF;
        }

        &-paragraph {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            /* or 162% */


            /* White */

            color: #FFFFFF;
        }
    }
}


.gallery {
    width: 100%;
    height: 914px;

    z-index: 20;

    position: absolute;
    top: 2093px;

    &-grid {
        width: 100;
        height: 914px - 86px;


        display: grid;
        grid-template-columns: 2fr 1fr;

        gap: 3px;

        &-left {
            display: grid;
            grid-template-rows: 2fr 1fr;
            gap: 3px;

            &-bottom {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 3px;
            }
        }

        &-right {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 3px;
        }
    }

    &-more {
        height: 86px;
        width: 100%;

        display: flex;
        align-items: flex-end;
        justify-content: center;

        &-button {
            width: 162px;
            height: 46px;
        }
    }
}

.gallery-photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.photo-hovered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-hovered-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 115px;

  
  

    opacity: 0;
    transition-duration: 2s;


    &-title {
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 34px;
        /* identical to box height, or 106% */

        text-align: center;
        text-transform: uppercase;

        /* White */

        color: #FFFFFF;
    }

    &-button {
        width: 286px;
        min-height: 48px;
    }
}

.gallery-grid-left-top-photo-1 {
    background-image: url(../img/Photo-1.jpg);
}

.gallery-grid-left-bottom-photo-2 {
    background-image: url(../img/Photo-2.jpg);
    
}

.gallery-grid-left-bottom-photo-3 {
    background-image: url(../img/Photo-3.jpg);
}

.gallery-grid-right-photo-4 {
    background-image: url(../img/Photo-4.jpg);
}

.gallery-grid-right-photo-5 {
    background-image: url(../img/Photo-5.jpg);
}

.gallery-grid-right-photo-6 {
    background-image: url(../img/Photo-6.jpg);
}


.gallery-grid-left-top-photo-1, 
.gallery-grid-left-bottom-photo-2,
.gallery-grid-left-bottom-photo-3,
.gallery-grid-right-photo-4, 
.gallery-grid-right-photo-5, 
.gallery-grid-right-photo-6 {

    display: flex;
    align-items: center;
    justify-content: center;


    &:hover .photo-hovered {
        width: 100%;
        height: 100%;

        background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);

       

        display: flex;
        justify-content: center;
        align-items: center;

        &-block {
            opacity: 1;
            transition-duration: 2s;
        }
        
    }
}

#height-bigger {
    height: 150px;
}



.projects-mobile {
    display: none;
}





.partners {
    margin-top: 1154px;
    width: 100%;
    height: 690px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

    &-top {
        margin-top: 120px;
        width: 100%;
        height: 34px;

        display: flex;
        justify-content: space-between;

        &-title {
            color: #010101;
            width: 30%;
        }

        &-carets {
            width: 10%;
            display: flex;
            justify-content: flex-end;

        }
    }

    &-grid {
        margin-top: 49px;
        width: 100%;
        height: 368px;
        
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

        &-cell {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.partner-logo {
    width: 80%;
    height: 100%;
}

.partners-extension {
    width: 100%;
    min-width: 375px;
    height: 690px;
    background-color: #ffffff;

    position: absolute;
    top: 3129px;
}







.testimonials {
    margin-top: 120px;
    width: 100%;
    height: 318px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-top {
        margin: 0;
    }

    &-row {
        width: 100%;
        height: 228px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        &-review {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            background-color: #C7C7C7;

            &-top {
                height: 52px;
                width: 332px / 398px * 100%;
                display: flex;
                justify-content: space-between;

                &-profile {
                    width: 60%;
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &-name {
                        font-family: 'Oswald', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 24px;
                        /* identical to box height, or 133% */


                        /* Black */

                        color: #010101;
                    }

                    &-occupation {
                        font-family: 'Raleway', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 20px;
                        /* identical to box height, or 167% */


                        /* Black */

                        color: #010101;
                    }
                }
            }

            &-text {
                width: 332px / 398px * 100%;
                height: 102px;

                font-family: 'Raleway', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                /* or 143% */


                /* Black */

                color: #010101; 

            }
        }

    }
}

.testimonials-row-review:nth-child(2) {
    background-color: #1E1E1E;
}

.black-to-white {
    color: #ffffff;
}

.bottom {
  
    top: 4255px;
}

   

@media (max-width: 1180px) {
    .service-block {
        min-width: 32%;
    }


}

@media (max-width: 1000px) {

    .top-block-content {
        top: 100px;
    }

    .history-text {
        width: 66%;
    }

    .services .service-block .obscuration .we-do {
        font-size: 32px;
    }

    .footer-top-navigation {
        width: 45%;
    }

    .testimonials-row-review-text {
        height: 120px;
        font-size: 12px;
        line-height: 18px;
    }

    .testimonials-row-review-top img {
        max-width: 35%;
    }
}

@media (max-width: 860px) {
    .top-block-content-description {
        font-size: 16px;
    }

    .services .service-block .obscuration .we-do {
        font-size: 30px;
    }

    .history-text {
       width: 100%;

    }

}



//----------------M-O-B-I-L-E------------------//


@media (max-width: 720px) {
    body {
        height: 4260px;
    }

    .top-image {
        background-image: url(../img/image-21-mobile.jpg);
        height: 648px;
        top: 88px;
    }


    .top-block-content {
        top: 189px;
    }

    .top-block-content-title {
        font-size: 40px;
    }

    .top-block-content-description {
        display: none;
    }

    .top-block-content-button {
        background-color: transparent;
        color: #ffffff;
        width: 200px;
        height: 42px;
        font-size: 14px;
        line-height: 18px;  
        margin-top: 32px;
    }

    .top-block-content-arrow {
        margin-top: 164px;
    }



    .services {
        margin-top: 156px;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: 480px;

        .service-block {
            width: 100%;
            min-width: 320px;
            max-width: 480px;
            height: 152px;
        }
    }

    .services .service-block .obscuration .we-do {
        margin-top: 96px;
    }

    .history {
        display: none;
        margin-top: 56px;

        

    }

    .history-mobile {
        display: flex;
        align-items: top;
        justify-content: center;
        position: absolute;
        top: 1594px;

        width: 100%;
        min-width: 375px;
        height: 592px;
        background-image: url(../img/Group221.jpg);
        background-repeat: no-repeat;
        background-position: 75% -80%;
        background-size: auto 110%;

        .history-text {
            width: 90%;
            height: 100%;
            margin-top: 0;

            &-title {
                font-family: 'Oswald', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 34px;
                /* identical to box height, or 189% */

                text-transform: uppercase;

                /* White */

                color: #FFFFFF;
            }

            &-paragraph {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                /* or 157% */


                /* White */

                color: #FFFFFF;
            }
        }
    }

    .gallery {
        display: none;
    }

    .projects-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        margin-top: 704px;
        height: 1184px;
        width: 100%;

        &-grid {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            gap: 12px;

            width: 100%;
            max-width: 420px;
            height: 1128px;

        }

        &-button {
            background-color: transparent;
            color: #ffffff;
            width: 162px;
            height: 32px;

            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 171% */

            letter-spacing: 0.03em;
        }
    }

    .projects-mobile-grid-cell {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &::before {
            content: '';

            position: absolute;

            width: 92%;
            min-width: 348.67px;
            max-width: 420px;
            height: 216px;
            background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
            opacity: 0.8;
        }

        &::after {
            content: '';

            position: absolute;

            width: 92%;
            min-width: 348.67px;
            max-width: 420px;
            height: 216px;


            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            /* identical to box height, or 140% */

            text-align: center;
            text-transform: uppercase;

            /* White */

            color: #FFFFFF; 

            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    .projects-mobile-grid-cell:first-child {
        background-image: url(../img/Photo-1.jpg);
        &::after {
            content: 'DISCOVER UKRAINE SVYDOVETS’';
        }
    }

    .projects-mobile-grid-cell:nth-child(2) {
        background-image: url(../img/Photo-3.jpg);
        &::after {
            content: 'MOUNTAIN ISOLATION';
        }
    }

    .projects-mobile-grid-cell:nth-child(3) {
        background-image: url(../img/Photo-6.jpg);
        &::after {
            content: 'DISCOVER UKRAINE 2.0';
        }
    }

    .projects-mobile-grid-cell:nth-child(4) {
        background-image: url(../img/Photo-4.jpg);
        &::after {
            content: 'UKRAINE GRAVITY ТА НАЙКРАЩИЙ ПІЛОТ FPV В УКРАЇНІ DOROSH.RAW';
        }
    }

    .projects-mobile-grid-cell:last-child {
        background-image: url(../img/Photo-2.jpg);
        &::after {
            content: 'PORSCHE UKRAINE';
        }
    }

    .partners-extension {
        height: 265px;
        top: 3479px;
    }

    .partners {
        height: 265px;
        margin-top: 38px;

        &-top {
            margin-top: 24px;
            height: 26px;

            & a img {
                height: 24px;
            }

            &-title {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 26px;
            }
        }

        &-grid {
            margin-top: 32px;
            height: 143px;
            grid-template-columns: 1fr 1fr 1fr;

            &-cell {
                &:nth-child(3) {
                    grid-row-start: 1;
                }  

                &:nth-child(4) {
                    grid-row-start: 1;
                } 

                &:nth-child(2) {
                    grid-row-start: 1;
                    order: 3;
                } 

                &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12),  {
                    display: none;
                }
            }
        }
    }
    
    .partner-logo {
        max-width: 108px;
        max-height: 50px;
    }

    .testimonials {
        margin-top: 56px;
        height: 286px;

        &-top {
            margin: 0;

            .black-to-white {
                width: 60%;
            }
        }

        &-row {
            display: flex;

            &-review {
                
                &:first-child, &:last-child {
                    display: none;
                }
            }
        }
    }

    .testimonials-row-review-top-profile-name {
        font-size: 16px;
        line-height: 24px;
    }

    .testimonials-row-review-top-profile-occupation  {
        font-size: 12px;
        line-height: 20px;
    }

    .testimonials-row-review-text {
        font-size: 14px;
        line-height: 20px;
    }

    .thomas-marniz {
        width: 48px;
        height: 48px;
    }

    .bottom {
        top: 4083px;
    }

}

