body {
    height: 2081px;
}


.all-projects-title {
    color: #ffffff;
}

.more-button {
    width: 162px;
    height: 48px;
    display: flex;

    margin-left: auto;
    margin-right: auto;

    justify-content: center;
    align-items: center;
}

.main-block {
    width: 100%;
    height: 1580px;

   


    margin-top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}











.project-grid {
    display: grid;

    width: 100%;
    height: 1382px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    gap: 3px;

    font-size: 50px;




    position: absolute;
    z-index: 3;
    top: 190px;

}


.cell-1 {

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

}

.cell-9 {

    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}


.project {
    width: 100%;

    //?????????????????????????????
    //?????????????????????????????
    // height: 640px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 33% center;
    
}


.project-hovered {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

}

.project-hovered-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;



  
  

    opacity: 0;
    transition-duration: 2s;


    &-title {
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 34px;
        /* identical to box height, or 106% */

        text-align: center;
        // text-transform: uppercase;

        /* White */

        color: #FFFFFF;
    }

    &-button {
        width: 286px;
        min-height: 48px;
    }
}

.project {

    display: flex;
    align-items: center;
    justify-content: center;


    &:hover .project-hovered {
        width: 100%;
        height: 100%;

        background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);

       

        display: flex;
        justify-content: center;
        align-items: center;

        &-block {

            opacity: 1;
            transition-duration: 2s;
        }
        
    }

    &:first-child {
        background-image: url(../img/project-1.jpg);
    }

    &:nth-child(2) {
        background-image: url(../img/project-2.jpg);
    }

    
    &:nth-child(3) {
        background-image: url(../img/project-3.jpg);
    }

    
    &:nth-child(4) {
        background-image: url(../img/project-4.jpg);
    }

    
    &:nth-child(5) {
        background-image: url(../img/project-5.jpg);
    }

    
    &:nth-child(6) {
        background-image: url(../img/project-6.jpg);
    }

    
    &:nth-child(7) {
        background-image: url(../img/project-7.jpg);
    }

    
    &:nth-child(8) {
        background-image: url(../img/project-8.jpg);
    }

    &:last-child {
        background-image: url(../img/project-9.jpg);
    }


}

#height-117 {
    height: 117px;
}

#height-154 {
    height: 154px;
}










.bottom {
    top: 1700px;
}




.template-2 {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
 
   


    opacity: 0;
    transition-duration: 2s;
    align-content: center;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    /* identical to box height, or 145% */


    /* White */

    color: #FFFFFF;
    text-transform: none;

    // &:hover {
    //     width: 90%;
    //     height: 90%;
    //     transition-duration: 2s;
    // }

    & .project-hovered-block-title {
        text-align: start;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    .partners-location {
        margin-left: 5%;
        margin-bottom: 5%;
    
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */
    
    
        color: #FFFFFF;
    
    }

}










.projects-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-top: 704px;
    height: 1184px;
    width: 100%;

    &-grid {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 12px;

        width: 100%;
        max-width: 420px;
        height: 1128px;

    }

}

.projects-mobile-grid-cell {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 216px;



    &::before {
        content: '';


        position: absolute;

        width: 92%;
        min-width: 348.67px;
        max-width: 420px;
        height: 216px;
        background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
        opacity: 0.8;


    }

 
    &::after {
        content: '';

        position: absolute;

        width: 92%;
        min-width: 348.67px;
        max-width: 420px;
        height: 216px;


        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 140% */

        text-align: center;
        text-transform: uppercase;

        /* White */

        color: #FFFFFF; 

        display: flex;
        justify-content: center;
        align-items: center;
    }

}



.projects-mobile-grid-cell:first-child {
    background-image: url(../img/project-1.jpg);
    &::after {
        content: 'VOLVO XC40 WINTER’';
    }
}

.projects-mobile-grid-cell:nth-child(2) {
    background-image: url(../img/project-2.jpg);
    &::after {
        content: 'UKRAINE GRAVITY НА НАЙВИЩІЙ ТОЧЦІ НИЖНЬОЇ АВСТРІЇ';
    }
}

.projects-mobile-grid-cell:nth-child(3) {
    background-image: url(../img/project-3.jpg);
    &::after {
        content: 'MOUNTAIN ISOLATION';
    }
}

.projects-mobile-grid-cell:nth-child(4) {
    background-image: url(../img/project-4.jpg);
    &::after {
        content: 'DISCOVER UKRAINE 1.0';
    }
}

.projects-mobile-grid-cell:nth-child(5) {
    background-image: url(../img/project-5.jpg);
    &::after {
        content: 'DISCOVER UKRAINE 2.0';
    }
}

.projects-mobile-grid-cell:nth-child(6) {
    background-image: url(../img/project-7.jpg);
    &::after {
        content: 'VVOLVO VS KAYAKING AND TOMASS MARNICS';
    }
}

.projects-mobile-grid-cell:nth-child(7) {
    background-image: url(../img/project-8.jpg);
    &::after {
        content: 'UKRAINE GRAVITY ТА НАЙКРАЩИЙ ПІЛОТ FPV В УКРАЇНІ DOROSH.RAW';
    }
}

.projects-mobile-grid-cell:last-child {
    background-image: url(../img/project-9.jpg);
    &::after {
        content: 'PORSCHE UKRAINE';
    }
}







////=========ОБОВ'ЯЗКОВО!=========////

@media (max-width: 720px) {
    body {
        height: 2223px;
    }

    .project-grid {
        display: none;
    }

    .projects-mobile {
        display: flex;
        margin-top: 24px;

        height: 1800px;


        &-grid {
            height: 1800px;
        }
    }

    .more-button {
        display: none;
    }

    .main-block {
        height: 1850px;
    }

    .bottom {
        top: 2044px;
 
    }

    .footer {
        margin-top: 144px;
   
    }
}















