body {
    background-color: burlywood;
    width: 100%;
    height: 4028px;
    margin: 0;
    min-width: 320px;
}

header {
    width: 100%;
    background-color: coral;
    height: 16.5%;
}

.header-content {
    width: 89%;
    height: 100%;
    background-color: darkgray;
    margin-left: auto;
    display: flex;
    position: relative;
}

.phones {
    height:100%;
    margin-left: auto;
}

.header-left {
    position: absolute;
    width: 50%;
    height: 70%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

.logo-sports {
    font-family: 'Product Sans', sans-serif;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #5282F0;

}

h1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.03em;

    /* #333333 */

    color: #333333;
    margin-top: 20%;

}

p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;

    /* #4F4F4F */

    color: #4F4F4F;
}

.stores {
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}





@media (max-width: 1100px) {
    body {
        background-color: red;
    }

    .phones {
        height: 90%;
    }
}


@media (max-width: 990px) {
    body {
        background-color: black;
    }

    .phones {
        height: 80%;
    }

}

@media (max-width: 880px) {
    body {
        background-color: black;
    }

    .phones {
        height: 65%;
    }

}

@media (max-width: 720px) {
    body {
        background-color: black;
    }

    .phones {
        display: none;
    }

    .header-content {
        width: 100%;
    }

    .logo {
        margin-left: auto;
        margin-right: auto;
    }

    .header-content {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-left {
        width: 100%;
        height: 100%;
    }

    .stores {
        width: 70%;
        margin-top: 10%;
        align-self: center;
        background-color: chartreuse;
        justify-content: center;
    }

    h1 {
        margin-top: 30%;    
        text-align: center;
    }

    p {
        text-align: center;
    }

}



.block-2 {
    width: 100%;
    height: 14.71%;
    background-color: cadetblue;
    display: flex;

}

.ronaldo {
    height: 100%;
    width: 60%;
    background-image: url(img/ronaldo.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0;
    background-size: cover;
}

.gradient {
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    position: relative;
}

.container-1 {
    background-color: darkgoldenrod;
    width: 55%;
    height: 75%;
    position: relative;
    top: 15%;
    left: 20%;
}

.video {
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    min-width: 80%;
}

.match {
    width: 80%;
    height: 55%;
    background-color: darkgreen;
    z-index: 2;
    position: absolute;
    max-height: 400px;
    min-width: 200px;
}

.top-match {
    background-color: indianred;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
}

.match-info {
    height: 90%;
    width: 55%;
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: auto;
}

.match-date {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16.7833px;
    line-height: 22px;

    color: #4F4F4F;
}

.arsenal-chelsea {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #000000;
}

.match-type {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    color: #000000;
}

.opponents {
    height: 100%;
    width: 50%;
    background-color: orangered;
    display: flex;
}

.logos {
    background-color: pink;
    display: flex;
    
    height: 80%;
    width: 80%;
    align-self: center;
    margin-left: auto;
    
}

.fc {
    position: absolute;
    align-self: center;
    margin-top: 15%;


}

/* @media (max-width: 1180px) {
    .fc {
        height: 20%;
    }

    .chelsea {
        left: 50%;
    }
} */

.arsenal {
    width: 100%;
    height: 100%;
}

.arsenal::after {
    content: "";
    background: url(img/chelsea.svg) no-repeat;
    width: 50%;
    height: 100%;
    left: 65%;
    position: absolute;

    max-height: 100%;

    margin-top: 15%;
}

/* .chelsea {
    left:75%;
} */





.match-notif {
    background-color: rgb(158, 149, 221);
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
}

.turn-on {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18.8812px;
    line-height: 18px;

    color: #4F4F4F;
}

#switch {
    height: 80%;
    width: 15%;
    margin-left: auto;
    margin-right: 3%;
}



.block-2-right {
    width: 40%;
    height: 100%;
    background-color: cornsilk;
}

.what {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */


    /* Brand Colour */

    color: #00ADEE;

    display: flex;

}

h3 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    /* identical to box height */


    /* #333333 */

    color: #333333;
}

.learn-more {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */


    /* Brand Colour */

    color: #00ADEE;

    text-decoration: none;
}

.learn-more:hover {
    text-decoration: underline;
    font-size: larger;
}

.description {
    background-color: darkkhaki;
    width: 80%;
    max-height: 100%;
    margin-top: 18%;
}

@media (max-width: 800px) {
    .description {
        background-color: hotpink;
        width: 90%;
        max-height: 100%;
        margin-top: 18%;
    }
}

@media (max-width: 720px) {
    .block-2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .block-2-right {
        width: 100%;
    }

    .description {
        background-color: hotpink;
        width: 90%;
        height: 90%;
        max-height: 100%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }

    .what  {
       margin-left: auto;
       margin-right: auto;
    }

    h3 {
        text-align: center;
    }

    .block-2 {
        height: 20%;
    }

    .ronaldo {
     width: 100%;
    }

    .container-1 {
        background-color: red;
        width: 75%;
        height: 90%;
        position: relative;
        top: 5%;
        left: 12%;
    }

    .video {
        max-width: 90%;
    }
}

.block-3 {
    width: 100%;
    height: 17.8%;
    background-image: url(img/SAMPLE05.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 0;
    background-size: cover;
    display: flex;
    align-items: center;
}

.interface {
    height: 50%;
    width: 40%;
    background-color: darkgray;
    margin-left: 10%;

}

.block-3-mobile {
    width: 100%;
    height: 17.8%;
    background-image: url(img/SAMPLE05.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 0;
    background-size: cover;
    display: flex;
    align-items: center;

    display: none;
}

@media (max-width: 720px) {
    .interface {
        height: 100%;
        width: 100%;
        background-color: darkgray;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .block-3-mobile {
        display: block;
        background-position: 79.5% center;
        height: 16%;
    }
}

.block-4 {
    height: 18%;
    width: 100%;
    background-image: url(img/Group\ 696.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.features-header {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    /* identical to box height */


    /* #FFFFFF */

    color: #FFFFFF;

    margin-top: 4%;
}

.grid {
    display: grid;
    width: 80%;
    height: 70%;
    background-color: darkred;
    gap: 1%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 2%;
}

.cell {
    background-color: darkslateblue;
    height: auto;
}

.feature {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;

    /* #FFFFFF */

    color: #FFFFFF; 
    margin-top: 2%;
}

.feature::before {
    content: "• ";
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;

    /* #FFFFFF */

    color: #FFFFFF; 
}


@media (max-width: 720px) {
    .block-4 {
        background-image: none;
        background-color: darkolivegreen;
        height: auto;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0;
        height: auto;
    }

    .cell {
        display: flex;
        flex-direction: column;
        align-content: center;
        max-height: 220px;
        text-align: center;
    }

    .cell img {
        height: 20%;
    }

    .features-header {
       text-align: center;
       background-color: deeppink;

    }

    .feature::before {
        display: none;
    }
}
    
.block-5 {
    width: 100%;
    height: 10.7%;
    background-color: fuchsia;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials {
    height: 37.4%;
    width: 100%;
    background-color: coral;
    display: flex;
    overflow: hidden;
    top: 5%;
}

.testimonial {
    height: 100%;
    min-width: 23%;
    background-color: #FFFFFF;
    margin-left: 2%;
    
    display: flex;
    flex-direction: column;
    align-items: center;



}

.first-testimonial {
    margin-left: -15%;

}


.gradient-testimonial {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(40,40,138,0) 15%, rgba(9,9,121,0) 85%, rgba(255,255,255,1) 100%);    
    width: 100%;
    height: 37.4%;
    position: relative;
    top: -29%

}

.twi-profile {
    width: 100%;
    height: 30%;
    background-color: darkorange;

    background-image: url(img/twitter-testimonial.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    position: relative;
    display: flex;
    align-items: center;
}

.twi-avatar {
    border-radius: 50%;
    margin-left: 5%;
}

.twi-name {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    /* #333333 */

    color: #333333;

    margin-left: 3%;
}

.testimonial-text {
    
    width: 90%;
    height: auto;
    background-color: aqua;


    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 75%;
    line-height: 18px;

    /* #4F4F4F */

    color: #4F4F4F; 
    margin-top: 5%;
}

.arrows {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    top: -50%;
}

.seven-dots {
    width: 15%;
    height: 5%;
    background-color: blue;
    position: relative;
    bottom: 15%;

    display: flex;
    justify-content: space-between;
}

.dot {
    height: 100%;
    width: 10%;
    background-color: black;
    border-radius: 50%;
}



.dot:nth-child(1) {
    background: #828282;
}

.dot:nth-child(2) {
    background: #979595;
}

.dot:nth-child(3) {
    background: #B2B0B0;
}

.dot:nth-child(4) {
    background: #CDCBCB;
}

.dot:nth-child(5) {
    background: #E2E1E1;
}

.dot:nth-child(6) {
    background: #EEEEEE;
}

.dot:nth-child(7) {
    background: #F7F7F7;
}

.dot:hover {
    background-color: black;
    cursor: pointer;
    width: 12%;
}

@media (max-width: 720px) {
    .test-none {
        display: none;
    }

    .gradient-testimonial {
        display: none;
    }

    .testimonials {
        height: 60%;
        justify-content: center;
    }

    .testimonial {
        width: 80%;
        font-size: 120%;
    }

    .seven-dots {
        width: 45%;
        bottom: 10%;
    }
    
    .arrows {
        top: -30%;
        left: 35%;
        width: 10%;
    }

    .arrows>img:first-child {
        display: none;
    }

    .arrows>img:last-child {
        max-width: 60px;
    }
}


.block-6 {
    height: 7%;
    width: 100%;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.featured-mobile {
    display: none;
}

@media (max-width: 900px) {
    /* .featured {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
    } */

    .featured>a>img {
        width: 75%;
    }
}

@media (max-width: 720px) {
    .block-6 {
        height: 10%;
    }

    .featured {
        display: none;
    }

    .featured-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height: 75%;
        margin-bottom: 10%;
        margin-top: 5%;
    }

    .feat-row {
        display: flex;
        justify-content: space-between;
    }

    .feat-row:last-child {
        justify-content: center;
    }

    .featured>a>img {
        width: 100%;
    }

    h3 {
        font-size: 24px;
    }
}

.block-7 {
    width: 100%;
    height: 12%;
    background-color: indigo;
    display: flex;
}

.block-7-right {
    height: 60%;
    margin-top: 5%;
    width: 40%;
    margin-left: 10%;
    background-color: yellow;
}

@media (max-width: 1100px) {
    .phones-2 {
        height: 80%;
        margin-top: auto;
    }

    .block-7-right {
        margin-left: -0%;
        width: 40%;
    }
}


@media (max-width: 900px) {
    .phones-2 {
        height: 70%;
        margin-top: auto;
    }

    .block-7-right {
        margin-left: -10%;
        width: 40%;
        margin-top: 1%;
    }
}

@media (max-width: 720px) {
    .block-7 {
        flex-direction: column-reverse;
        margin: 0;
        height: 20%;
        height: auto;
    }

    .block-7-right {
        height: 55%;
        width: 100%;
        background-color: yellow;
        margin-left: 0;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
    
    }

    .phones-2 {
        height: auto;
        width: 100%;
    }

    .stores {
        align-self: center;
        margin-bottom: 5%;
    }


}