body {
    width: 100%;
    height: 4028px;
    margin: 0;
    min-width: 320px;
}

header {
    width: 100%;
    height: 16.5%;
    background: #F4F6F9;
}

.header-content {
    width: 89%;
    height: 100%;
    margin-left: auto;
    display: flex;
    position: relative;
}

.main-image {
    height:100%;
    margin-left: auto;
}

.header-left {
    position: absolute;
    width: 50%;
    height: 70%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

.logo-text {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #5282F0;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.03em;

    /* #333333 */

    color: #333333;
    margin-top: 20%;

}

p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;

    /* #4F4F4F */

    color: #4F4F4F;
}

.stores {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}





@media (max-width: 1100px) {

    .main-image {
        height: 90%;
    }
}


@media (max-width: 990px) {


    .main-image {
        height: 80%;
    }

}

@media (max-width: 880px) {


    .main-image {
        height: 65%;
    }

}

@media (max-width: 720px) {

    .main-image {
        display: none;
    }

    .header-content {
        width: 100%;
    }

    .logo {
        margin-left: auto;
        margin-right: auto;
    }

    .header-content {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-left {
        width: 90%;
        height: 100%;
    }

    .stores {
        width: 70%;
        margin-top: 10%;
        align-self: center;

        justify-content: center;
    }

    h1 {
        margin-top: 30%;    
        text-align: center;
        font-size: 32px;
    }

    p {
        text-align: center;
    }

    p>br {
        display: none;
    }
}



.app-destination {
    width: 100%;
    height: 14.71%;
    display: flex;

}

.app-destination-background {
    height: 100%;
    width: 60%;
    background-image: url(img/ronaldo.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0;
    background-size: cover;
}

.gradient {
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    position: relative;
}

.app-presentation {
    width: 55%;
    height: 75%;
    position: relative;
    top: 15%;
    left: 20%;
}

.match-video {
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    max-width: 120%;

    border-radius: 4px;
}

.match {
    width: 80%;
    height: 55%;

    min-width: 80%;

    z-index: 2;
    position: absolute;
    max-height: 400px;
    min-width: 200px;

    background: #FFFFFF;
    box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.match-top {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
}

.match-info {
    height: 90%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: auto;
    margin-left: 5%;
}

.match-date {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16.7833px;
    line-height: 22px;

    color: #4F4F4F;
}

.opponents {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #000000;
}

.match-type {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    color: #000000;
}

.opponents-logos {
    height: 100%;
    width: 50%;
    display: flex;
}



.fc-logo {
    position: absolute;
    align-self: center;
    margin-top: 15%;


}


.opponent-home::after {
    content: "";
    background-image:  url(img/chelsea.svg);
    background-repeat: no-repeat;
    
    width: 50%;
    height: 100%;
    left: 65%;
    position: absolute;

    max-height: 100%;

    margin-top: 15%;
}




.match-notification {
    background: #EEEEEE;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
}

.notification-turn-on {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18.8812px;
    line-height: 18px;

    color: #4F4F4F;
    width: 80%;

    margin-left: 5%;
}

.switcher {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.switcher>img:first-child, .switcher>img:last-child {
    position: absolute;
    left: 83%;
}

.switcher>img:last-child {
    left: 81%;
}




.app-destination-right {
    width: 40%;
    height: 100%;
}

.description-header {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */


    /* Brand Colour */

    color: #00ADEE;

    display: flex;

}

h3 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    /* identical to box height */


    /* #333333 */

    color: #333333;
}

.learn-more {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */


    /* Brand Colour */

    color: #00ADEE;

    text-decoration: none;
}

.learn-more:hover {
    text-decoration: underline;
    font-size: larger;
}

.description {
    width: 80%;
    max-height: 100%;
    margin-top: 18%;
}

@media (max-width: 950px) {
    .fc-logo {
        height: 25%;
    }

    .opponent-home::after {
        height: 25%;
        background-size: contain;
    }

}

@media (max-width: 800px) {
    .description {
        width: 90%;
        max-height: 100%;
        margin-top: 18%;
    }
}

@media (max-width: 720px) {
    .app-destination {
        display: flex;
        flex-direction: column-reverse;
    }

    .app-destination-right {
        width: 100%;
    }

    .gradient {
        background: linear-gradient(180deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
    }

    .description {
        width: 90%;
        height: 90%;
        max-height: 100%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }

    .description-header  {
       margin-left: auto;
       margin-right: auto;
    }

    h3 {
        text-align: center;
    }

    .app-destination {
        height: 20%;
    }

    .app-destination-background {
        width: 100%;
    }

    .app-presentation {
        width: 75%;
        height: 90%;
        position: relative;
        top: 5%;
        left: 12%;
    }

    .match-video {
        max-width: 90%;
    }

    .fc-logo {
        height: 40%;
    }

    .opponent-home::after {
        height: 40%;
        background-size: contain;
    }
}

.block-interface {
    width: 100%;
    height: 17.8%;
    background-image: url(img/SAMPLE05.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 0;
    background-size: cover;
    display: flex;
    align-items: center;
}

.interface {
    height: 50%;
    width: 40%;
    margin-left: 10%;

}

.block-interface-mobile {
    width: 100%;
    height: 10%;
    background-image: url(img/SAMPLE05.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 0;
    background-size: cover;
    display: flex;
    align-items: center;

    display: none;
}

@media (max-width: 720px) {
    .interface {
        height: 90%;
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 10%;
    
    }

    .interface>p {
        width: 90%;
    }

    .block-interface-mobile {
        display: block;
        background-image: url(img/salah.png);
        background-position: 50% 75%;
        background-size: 65% auto;
        height: 15%;
    }

    .block-interface {
        background-image: none;
        height: 11.8%;
    }
}

@media (max-width: 600px) {
    .block-interface-mobile {
        display: block;
        background-image: url(img/salah.png);
        background-position: center;
        background-size: auto;
        height: 13%;
    }
}

.features {
    height: 18%;
    width: 100%;
    background-image: url(img/Group\ 696.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.features-header {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    /* identical to box height */


    /* #FFFFFF */

    color: #FFFFFF;

    margin-top: 4%;
}

.features-grid {
    display: grid;
    width: 80%;
    height: 70%;
    gap: 1%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 2%;
}

.features-grid-cell {
    height: auto;
}

.feature:hover {
    font-size: 17px;
}


.feature {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;

    /* #FFFFFF */

    color: #FFFFFF; 
    margin-top: 2%;
}

.feature::before {
    content: "• ";
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;

    /* #FFFFFF */

    color: #FFFFFF; 
}

.width-37px {
    width: 36.7px;
}


@media (max-width: 720px) {
    .features {
        background-image: none;
        height: auto;
        background-color: #FAFAFA;
    }

    .features-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0;
        height: auto;
    }

    .features-grid-cell {
        display: flex;
        flex-direction: column;
        align-content: center;
        max-height: 220px;
        text-align: center;
        margin-top: 5%;
    }

    .features-grid-cell:first-child {
        margin-top: 10%;
    }


    .features-grid-cell svg {
        align-self: center;
    }
    

    .feature {
        color: #4F4F4F;
    }

    .features-header {
       text-align: center;

    }

    .feature::before {
        display: none;
    }

    .mobile-blue {
        fill: #00ADEE;
    }

    .features-header {
        color: #333333;
    }
}
    
.testimonials-block {
    width: 100%;
    height: 10.7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials {
    height: 37.4%;
    width: 100%;
    display: flex;
    overflow: hidden;
    top: 5%;
}

.testimonial {
    height: 100%;
    min-width: 23%;
    background-color: #FFFFFF;
    margin-left: 2%;
    
    display: flex;
    flex-direction: column;
    align-items: center;


    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;

}


.first-testimonial {
    margin-left: -15%;

}


.gradient-testimonial {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(40,40,138,0) 15%, rgba(9,9,121,0) 85%, rgba(255,255,255,1) 100%);    
    width: 100%;
    height: 37.4%;
    position: relative;
    top: -29%

}

.twi-profile {
    width: 100%;
    height: 30%;

    background-image: url(img/twitter-testimonial.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    position: relative;
    display: flex;
    align-items: center;
}

.twi-avatar {
    border-radius: 50%;
    margin-left: 5%;
}

.twi-name {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    /* #333333 */

    color: #333333;

    margin-left: 3%;
}

.testimonial-text {
    
    width: 90%;
    height: auto;


    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 70%;
    line-height: 18px;

    /* #4F4F4F */

    color: #4F4F4F; 
    margin-top: 5%;
}

.testimonials-arrows {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    top: -50%;
}



.testimonials-navigation {
    width: 200px;
    height: 3%;
    position: relative;
    bottom: 15%;

    display: flex;
    justify-content: space-between;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
}



.dot:nth-child(1) {
    background: #828282;
}

.dot:nth-child(2) {
    background: #979595;
}

.dot:nth-child(3) {
    background: #B2B0B0;
}

.dot:nth-child(4) {
    background: #CDCBCB;
}

.dot:nth-child(5) {
    background: #E2E1E1;
}

.dot:nth-child(6) {
    background: #EEEEEE;
}

.dot:nth-child(7) {
    background: #F7F7F7;
}

.dot:hover {
    background-color: black;
    cursor: pointer;
}

@media (max-width: 720px) {
    .test-none {
        display: none;
    }

    .gradient-testimonial {
        display: none;
    }

    .testimonials {
        height: 60%;
        justify-content: center;
    }

    .testimonial {
        width: 80%;
        font-size: 120%;
    }

    .testimonials-navigation {
        width: 45%;
        bottom: 10%;
    }
    
    .testimonials-arrows {
        top: -30%;
        left: 35%;
        width: 10%;
    }

    .testimonials-arrows>a:first-child {
        display: none;
    }

    .testimonials-arrows>a:last-child {
        max-width: 60px;
    }
}


.featured-block {
    height: 7%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
}

.featured {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.featured-mobile {
    display: none;
}

@media (max-width: 900px) {

    .featured>a>img {
        width: 75%;
    }
}

@media (max-width: 720px) {
    .featured-block {
        height: 10%;
    }

    .featured {
        display: none;
    }

    .featured-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height: 75%;
        margin-bottom: 10%;
        margin-top: 5%;
    }

    .feat-row {
        display: flex;
        justify-content: space-between;
    }

    .feat-row:last-child {
        justify-content: center;
    }

    .featured>a>img {
        width: 100%;
    }

    h3 {
        font-size: 24px;
    }
}

.download-app {
    width: 100%;
    height: 12%;
    display: flex;
}

.download-app-right {
    height: 60%;
    margin-top: 5%;
    width: 40%;
    margin-left: 10%;
}

@media (max-width: 1100px) {
    .main-image-2 {
        height: 80%;
        margin-top: auto;
    }

    .download-app-right {
        margin-left: -0%;
        width: 40%;
        align-items: center;
    }

    .download-app p, .download-app h3 {
        width: 90%;
    }

    .download-app .stores {
        margin-bottom: 15%;
    }
}


@media (max-width: 900px) {
    .main-image-2 {
        height: 70%;
        margin-top: auto;
    }

    .download-app-right {
        margin-left: -10%;
        width: 40%;
        margin-top: 1%;
    }
}

@media (max-width: 720px) {
    .download-app {
        flex-direction: column-reverse;
        margin: 0;
        height: 20%;
        height: auto;
    }

    .download-app-right {
        height: 55%;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
    
    }

    .main-image-2 {
        height: auto;
        width: 100%;
    }

    .stores {
        align-self: center;
        margin-bottom: 5%;
    }


}

footer {
    height: 3.5%;
    width: 100%;
    background-color: #00ADEE;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sports-footer {
    font-family: 'Product Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #FFFFFF;

}

.navigation-footer {
    
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */


    /* #FFFFFF */

    color: #FFFFFF;

    text-decoration: none;

}

nav {
    width: 30%;
    display: flex;
    justify-content: space-between;

    height: 20%;
}

.social-media {
    width: 12%;
    display: flex;
    justify-content: space-between;

    height: 25%;
}

.sm {
    height: 100%;
    
}

@media (max-width: 950px) {
    nav {
        width: 45%;
    }

    .social-media {
        width: 20%
    }
}

@media (max-width: 720px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
        height: 5%;
    }

    .logo-footer {
        margin-top: 5%;
    }

    .social-media {
        width: 40%;
    }

    .sm {
        height: 80%;
    }

    nav {
        order: 3;
        width: 90%;
        margin-top: 5%;
    }

    .logo-footer, .social-media, nav {
        margin-left: 5%;
    }
}

.blue-to-white {
    fill: white;
}

.white-to-blue {
    fill: #00ADEE;
}
