@charset "UTF-8";
body {
  height: 3934px;
}

.bottom {
  top: 4590px;
}

.film-video-mobile-placeholder, .top-video-mobile {
  display: none;
  height: 216px;
  width: 100%;
}

.film-video {
  width: 100%;
  height: 638px;
  margin-top: 40px;
  background-image: url(../img/film-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.film-video-play {
  position: absolute;
  z-index: 2;
}
.film-video-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
  opacity: 0;
  transition-duration: 0.5s;
}
.film-video-gradient:hover {
  opacity: 0.8;
  transition-duration: 0.5s;
}

.film-info-extension {
  display: none;
}

.film-info {
  width: 100%;
  height: 780px;
  margin-top: 40px;
  background-color: #1E1E1E;
  display: flex;
  flex-direction: column;
}
.film-info-title {
  color: #ffffff;
  margin-top: 56px;
  margin-left: 6.6666666667%;
  font-size: 40px;
  line-height: 38px;
}
.film-info-grid {
  width: 93.3333333333%;
  height: 566px;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 378fr 742fr;
}
.film-info-grid-cell:first-child {
  display: grid;
  grid-auto-rows: 66px 62px 152px 62px;
  gap: 48px;
}
.film-info-grid-cell:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.film-info-grid-cell-paragraph {
  width: 81.6711590296%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  /* White */
  color: #FFFFFF;
}

.film-info-grid-cell-left-top {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.film-info-grid-cell-left-top-icon {
  height: 24px;
}
.film-info-grid-cell-left-top-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  text-transform: uppercase;
  /* White */
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  margin-left: 3%;
}

.film-info-grid-cell-left-bottom {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* White */
  color: #FFFFFF;
  margin-left: 10%;
  margin-top: 8px;
}
.film-info-grid-cell-left-bottom ul {
  margin: 0;
  padding: 0;
}
.film-info-grid-cell-left-bottom ul li {
  list-style-type: square;
  margin-bottom: 4px;
}
.film-info-grid-cell-left-bottom ul li::marker {
  color: #777777;
}

.participants {
  width: 100%;
  overflow: hidden;
  height: 412px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.participants-top {
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}
.participants-main {
  width: 100%;
  min-width: 1000px;
  height: 322px;
  display: flex;
  justify-content: space-between;
}
.participants-main-participant {
  height: 100%;
  width: 14.5833333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.participants-main-participant-photo {
  height: 256px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.participants-main-participant-name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  text-transform: uppercase;
  /* White */
  color: #FFFFFF;
}
.participants-main-participant-occupation {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  text-align: center;
  text-transform: uppercase;
  /* White */
  color: #FFFFFF;
}

#participant-1 {
  background-image: url(../img/participants/participant-1.jpg);
}

#participant-2 {
  background-image: url(../img/participants/participant-2.jpg);
}

#participant-3 {
  background-image: url(../img/participants/participant-3.jpg);
}

#participant-4 {
  background-image: url(../img/participants/participant-4.jpg);
}

#participant-5 {
  background-image: url(../img/participants/participant-5.jpg);
}

#participant-6 {
  background-image: url(../img/participants/participant-6.jpg);
}

.partners {
  margin-top: 98px;
  width: 100%;
  height: 482px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.partners-top {
  margin-top: 120px;
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: space-between;
}
.partners-top-title {
  color: #010101;
  width: 30%;
}
.partners-grid {
  margin-top: 49px;
  width: 100%;
  height: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.partners-grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partner-logo {
  width: 80%;
  height: 100%;
}

.partners-extension {
  width: 100%;
  min-width: 375px;
  height: 482px;
  background-color: #ffffff;
  position: absolute;
  top: 2208px;
}

.projects-content {
  height: 902px;
  width: 100%;
  margin-top: 120px;
  color: white;
}
.projects-content-mobile {
  display: none;
}

.gallery {
  width: 100%;
  height: 914px;
  z-index: 20;
  position: absolute;
  top: 2885px;
}
.gallery-grid {
  width: 100%;
  height: 828px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3px;
}
.gallery-grid-left {
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 3px;
}
.gallery-grid-left-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
}
.gallery-grid-right {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3px;
}
.gallery-more {
  height: 86px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.gallery-more-button {
  width: 162px;
  height: 46px;
}

.gallery-photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.photo-hovered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-hovered-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 115px;
  opacity: 0;
  transition-duration: 2s;
}
.photo-hovered-block-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 34px;
  /* identical to box height, or 106% */
  text-align: center;
  text-transform: uppercase;
  /* White */
  color: #FFFFFF;
}
.photo-hovered-block-button {
  width: 286px;
  min-height: 48px;
}

.gallery-grid-left-top-photo-1 {
  background-image: url(../img/black-soil-gallery/photo-1.jpg);
}

.gallery-grid-left-bottom-photo-2 {
  background-image: url(../img/black-soil-gallery/photo-2.jpg);
}

.gallery-grid-left-bottom-photo-3 {
  background-image: url(../img/black-soil-gallery/photo-3.jpg);
}

.gallery-grid-right-photo-4 {
  background-image: url(../img/black-soil-gallery/photo-4.jpg);
}

.gallery-grid-right-photo-5 {
  background-image: url(../img/black-soil-gallery/photo-5.jpg);
}

.gallery-grid-right-photo-6 {
  background-image: url(../img/black-soil-gallery/photo-6.jpg);
}

.gallery-grid-left-top-photo-1,
.gallery-grid-left-bottom-photo-2,
.gallery-grid-left-bottom-photo-3,
.gallery-grid-right-photo-4,
.gallery-grid-right-photo-5,
.gallery-grid-right-photo-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-grid-left-top-photo-1:hover .photo-hovered,
.gallery-grid-left-bottom-photo-2:hover .photo-hovered,
.gallery-grid-left-bottom-photo-3:hover .photo-hovered,
.gallery-grid-right-photo-4:hover .photo-hovered,
.gallery-grid-right-photo-5:hover .photo-hovered,
.gallery-grid-right-photo-6:hover .photo-hovered {
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-grid-left-top-photo-1:hover .photo-hovered-block,
.gallery-grid-left-bottom-photo-2:hover .photo-hovered-block,
.gallery-grid-left-bottom-photo-3:hover .photo-hovered-block,
.gallery-grid-right-photo-4:hover .photo-hovered-block,
.gallery-grid-right-photo-5:hover .photo-hovered-block,
.gallery-grid-right-photo-6:hover .photo-hovered-block {
  opacity: 1;
  transition-duration: 2s;
}

.announce {
  width: 100%;
  height: 48px;
  z-index: 100;
  margin-top: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.announce-title {
  font-size: 40px;
  line-height: 40px;
}
.announce-button {
  height: 100%;
  width: 240px;
}

.coming-soon-image {
  width: 100%;
  height: 288px;
  position: absolute;
  top: 3836px;
  background-image: url(../img/black-soil-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.coming-soon-image-gradient {
  width: 100%;
  height: 100%;
  /* Obscuration */
  background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
  opacity: 0.8;
}

.testimonials {
  margin-top: 284px;
  width: 100%;
  height: 318px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonials-top {
  margin: 0;
}
.testimonials-row {
  width: 100%;
  height: 228px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.testimonials-row-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #C7C7C7;
}
.testimonials-row-review-top {
  height: 52px;
  width: 83.4170854271%;
  display: flex;
  justify-content: space-between;
}
.testimonials-row-review-top-profile {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonials-row-review-top-profile-name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  /* Black */
  color: #010101;
}
.testimonials-row-review-top-profile-occupation {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  /* Black */
  color: #010101;
}
.testimonials-row-review-text {
  width: 83.4170854271%;
  height: 102px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  /* Black */
  color: #010101;
}

.testimonials-row-review:nth-child(2) {
  background-color: #1E1E1E;
}

.black-to-white {
  color: #ffffff;
}

@media (max-width: 1180px) {
  .film-info-grid-cell-paragraph {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .testimonials-row-review-text {
    height: 120px;
    font-size: 12px;
    line-height: 18px;
  }

  .testimonials-row-review-top img {
    max-width: 35%;
  }
}
@media (max-width: 860px) {
  .film-info-grid-cell-paragraph {
    font-size: smaller;
  }
}
@media (max-width: 720px) {
  body {
    height: 3424px;
  }

  .film-video {
    display: none;
  }

  .top-video-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 132px;
    z-index: 20;
    min-width: 375px;
    max-width: 420px;
    margin-top: 24px;
    background-image: url(../img/film-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .top-video-mobile-gradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
    opacity: 0.8;
  }
  .top-video-mobile-play {
    height: 40px;
    width: 40px;
    position: absolute;
  }
  .top-video-mobile-play-button {
    width: 40px;
    margin: auto;
  }

  .film-video-mobile-placeholder {
    display: block;
    margin-top: 24px;
  }

  .film-info-extension {
    display: block;
    width: 100%;
    min-width: 375px;
    height: 1054px;
    position: absolute;
    top: 372px;
    background-color: #1E1E1E;
  }

  .film-info {
    margin-top: 0;
    height: 1054px;
  }
  .film-info-title {
    font-size: 24px;
    line-height: 38px;
    margin-top: 16px;
    margin-left: 0;
  }
  .film-info-grid {
    margin-left: 0;
    margin-right: 0;
    margin-top: 24px;
    width: 100%;
    height: 960px;
    grid-template-rows: 166fr 628fr;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .film-info-grid-cell:first-child {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 54fr 166fr;
    gap: 48px 0;
  }
  .film-info-grid-cell-left-top icon {
    height: 16px;
  }
  .film-info-grid-cell-left-top-title {
    font-size: 16px;
    line-height: 24px;
  }
  .film-info-grid-cell-left-bottom {
    font-size: 14px;
    line-height: 22px;
    margin-left: 28px;
  }
  .film-info-grid-cell-left:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .film-info-grid-cell-left:nth-child(3) ul {
    display: flex;
    flex-direction: column;
  }
  .film-info-grid-cell-left:nth-child(3) ul li:first-child {
    order: 4;
  }
  .film-info-grid-cell-left:nth-child(3) ul li:nth-child(2) {
    order: 3;
  }
  .film-info-grid-cell-left:last-child {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .film-info-grid-cell:last-child {
    justify-content: flex-start;
  }
  .film-info-grid-cell-paragraph {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 12px;
  }

  .participants {
    margin-top: 56px;
    height: 330px;
    overflow: scroll;
  }
  .participants-top-title {
    position: absolute;
    font-size: 18px;
    line-height: 34px;
  }
  .participants-top-carets {
    display: none;
  }
  .participants-main {
    height: 272px;
    width: 480px;
    min-width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
  .participants-main-participant {
    width: 32%;
  }
  .participants-main-participant-photo {
    height: 216px;
    width: 100%;
  }
  .participants-main-participant-name {
    font-size: 14px;
    line-height: 24px;
  }
  .participants-main-participant-occupation {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  .participants-main-participant:nth-child(1n+4) {
    display: none;
  }

  .partners {
    height: 173px;
    margin-top: 58px;
  }
  .partners-top {
    margin-top: 24px;
    height: 26px;
  }
  .partners-top-title {
    font-size: 18px;
    line-height: 26px;
    width: 60%;
  }
  .partners-top-title::after {
    content: " ФІЛЬМУ";
  }
  .partners-grid {
    height: 67px;
    margin-top: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .partners-grid-cell:nth-child(3) {
    display: none;
  }

  .partner-logo {
    width: 60%;
  }

  .partners-extension {
    height: 173px;
    top: 1870px;
  }

  .gallery {
    display: none;
  }

  .projects-content {
    margin-top: 56px;
    height: 553px;
  }
  .projects-content h2 {
    font-size: 18px;
    line-height: 34px;
  }
  .projects-content-mobile {
    height: 495px;
    width: 100%;
    max-width: 460px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 3px;
  }
  .projects-content-mobile-cell {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .projects-content-mobile-cell-video-gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
    opacity: 0.8;
  }
  .projects-content-mobile-cell:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/black-soil-gallery/photo-1.jpg);
  }
  .projects-content-mobile-cell:first-child > .video-play-image {
    width: 11.6618075802%;
    position: absolute;
  }
  .projects-content-mobile-cell:nth-child(2) {
    background-image: url(../img/black-soil-gallery/photo-4.jpg);
  }
  .projects-content-mobile-cell:nth-child(3) {
    background-image: url(../img/black-soil-gallery/photo-5.jpg);
  }
  .projects-content-mobile-cell:nth-child(4) {
    background-image: url(../img/black-soil-gallery/photo-6.jpg);
  }
  .projects-content-mobile-cell:nth-child(5) {
    background-image: url(../img/black-soil-gallery/photo-2.jpg);
  }
  .projects-content-mobile-cell:nth-child(6) {
    background-image: url(../img/black-soil-gallery/photo-3.jpg);
  }
  .projects-content-mobile-cell:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .projects-content-mobile-cell-button {
    background-color: #FFFFFF;
    color: #010101;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    letter-spacing: 0.03em;
    height: 32px;
    width: 149px;
    padding: 0;
  }

  .announce {
    margin-top: 114px;
    height: 84px;
    flex-direction: column;
  }
  .announce-title {
    font-size: 24px;
    line-height: 32px;
  }
  .announce-title b {
    font-weight: normal;
  }
  .announce-button {
    height: 40px;
    width: 185px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    border: 1px solid #010101;
  }

  .coming-soon-image {
    height: 200px;
    min-width: 375px;
    top: 2696px;
  }

  .testimonials {
    margin-top: 114px;
    height: 286px;
  }
  .testimonials-top {
    margin: 0;
  }
  .testimonials-top .black-to-white {
    width: 60%;
  }
  .testimonials-row {
    display: flex;
  }
  .testimonials-row-review:first-child, .testimonials-row-review:last-child {
    display: none;
  }

  .testimonials-row-review-top-profile-name {
    font-size: 16px;
    line-height: 24px;
  }

  .testimonials-row-review-top-profile-occupation {
    font-size: 12px;
    line-height: 20px;
  }

  .testimonials-row-review-text {
    font-size: 14px;
    line-height: 20px;
  }

  .thomas-marniz {
    width: 48px;
    height: 48px;
  }

  .bottom {
    top: 3250px;
  }
}