body {
  margin: 0;
  padding: 0;
  height: 4628px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  font-family: "Roboto", sans-serif;
  min-width: 320px;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition-duration: 0.2s;
}
a:hover {
  font-size: larger;
  font-weight: 700;
  transition-duration: 0.2s;
}
a:visited {
  color: #505F98;
}

h2 {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height, or 133% */
  /* Colour/Main/Blue/900 */
  color: #091133;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  /* Colour/Main/Blue/400 */
  color: #6F7CB2;
}

button {
  background: #111B47;
  border-radius: 2px;
  min-width: 95px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */
  text-align: center;
  /* Colour/Secondary/White 100 (general) */
  color: #FFFFFF;
  border: none;
  outline: none;
  transition-duration: 0.5s;
}
button:hover {
  transition-duration: 0.5s;
  background: #000000;
  font-weight: bold;
  cursor: pointer;
}

.mobile-sides {
  display: none;
}

.main-image {
  background-image: url(img/designer_1.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 22.9688850475%;
  width: 100%;
  position: absolute;
}
.main-image img {
  display: none;
}

.purchase-image {
  background-image: url(img/Rectangle.svg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  width: 100%;
  height: 938px;
  position: absolute;
  top: 78%;
}

.body-container {
  height: 95%;
  width: 77.0833333333%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  z-index: 1;
  position: absolute;
}

.header {
  height: 1112px;
  width: 100%;
  position: absolute;
}
.header-top {
  height: 5.5755395683%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-top-navigation {
  height: 100%;
  width: 17.0138888889%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  /* Colour/Main/Blue/500 */
  color: #505F98;
}
.header-top-brand {
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  /* identical to box height, or 146% */
  /* Colour/Logo/Primary */
  color: #37447E;
}
.header-top-buy {
  width: 11.1111111111%;
  height: 50%;
}
.header-content {
  position: absolute;
  width: auto;
  height: 37.8597122302%;
  top: 27.2482014388%;
  display: flex;
  flex-direction: column;
}
.header-content-title {
  width: 100%;
  height: 31.3539192399%;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  /* or 132% */
  letter-spacing: 1px;
  /* Colour/Main/Blue/900 */
  color: #091133;
}
.header-content-description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  /* Colour/Main/Blue/500 */
  color: #505F98;
  margin-top: 20px;
}
.header-content-two-buttons {
  margin-top: auto;
  height: 8.5510688836%;
}
.header-content-two-buttons-purchase, .header-content-two-buttons-learn-more {
  height: 100%;
  width: 35.0408810279%;
}
.header-content-two-buttons-learn-more {
  margin-left: 7%;
  background-color: transparent;
  border: 2px solid #091133;
  color: #091133;
}
.header-content-two-buttons-learn-more:hover {
  background-color: #330909;
  color: white;
  border: 2px solid #250000;
}

@media (max-width: 1300px) {
  .main-image {
    background-size: 60% 95%;
  }
}
@media (max-width: 1000px) {
  .main-image {
    background-size: auto;
  }

  .body-container {
    width: 90%;
  }

  .header-top-navigation {
    width: 22%;
  }

  .header-content {
    width: 100%;
    height: 45%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    align-items: center;
  }
  .header-content-two-buttons {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3%;
  }
  .header-content-title {
    text-align: center;
  }
}
@media (max-width: 720px) {
  .main-image, .header-top-navigation, .header-top-buy {
    display: none;
  }

  .header-top-brand {
    margin-left: auto;
    margin-right: auto;
  }

  .header-content {
    top: 20%;
    background-color: transparent;
    height: 65%;
  }

  .header {
    height: 800px;
    text-align: center;
    background-color: #E7ECFF;
  }

  br {
    display: none;
  }

  .mobile-sides {
    width: 100%;
    height: 800px;
    background-color: #E7ECFF;
    display: block;
    position: absolute;
  }
}
@media (max-width: 640px) {
  .header-content-title {
    font-size: 42px;
    line-height: 48px;
    height: auto;
    margin-bottom: 1%;
  }
}
@media (max-width: 380px) {
  .header-content {
    height: 70%;
    top: 15%;
  }
}
.responsive-image {
  width: 100%;
  max-height: 500px;
}

.main {
  width: 100%;
  height: 2497.39px;
  top: 23%;
  position: absolute;
}
.main-block-2 {
  width: 100%;
  height: 742px;
  position: absolute;
  background-image: url(img/undraw_mobile_login_ikmv.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  display: flex;
  align-items: center;
}
.main-block-2-content {
  width: 50%;
  height: 420px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-block-2-content-top {
  width: 100%;
  height: 204px;
}
.main-block-2-content-bottom {
  width: 100%;
  height: 136px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-block-2-content-bottom-section {
  width: 50%;
  height: 100%;
}
.main-block-2-content-bottom-section-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Colour/Main/Blue/900 */
  color: #091133;
  margin-top: 14px;
}
.main-block-2-content-bottom-section-description {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  /* Colour/Main/Grey/600 */
  color: #5D6970;
  margin-top: 6px;
}
@media (max-width: 900px) {
  .main .main-block-2-content {
    background-color: #e7ecfff0;
    width: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
  }
  .main .main-block-2-content-top {
    width: 80%;
  }
  .main .main-block-2-content-top p, .main .main-block-2-content-top h2 {
    text-align: center;
    margin-top: 2%;
  }
  .main .main-block-2-content-top p {
    margin-top: 4%;
  }
  .main .main-block-2-content-bottom {
    display: flex;
    justify-content: center;
  }
  .main .main-block-2-content-bottom-section:first-child {
    display: none;
  }
  .main .main-block-2-content-bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 720px) {
  .main .main-block-2-content {
    background-color: transparent;
  }
}
@media (max-width: 500px) {
  .main .main-block-2-content-top {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .main .main-block-2-content-top h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .main .main-block-2-content-top p {
    font-size: 14px;
  }
  .main .main-block-2-content-bottom-section {
    width: 75%;
  }
}
.main-grid {
  width: 100%;
  height: 1755.39px;
  position: absolute;
  top: 29.7%;
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2%;
}
.main-grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-grid-cell-content-purchase {
  height: 32px;
  width: 32.967032967%;
}
.main-block-3 {
  height: 805px;
  width: 100%;
  position: absolute;
  top: 105%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-block-3-content {
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-block-3-content-forty {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  /* identical to box height, or 132% */
  text-align: center;
  letter-spacing: 1px;
  /* Colour/Main/Blue/700 */
  color: #222F65;
  margin-top: 36px;
}
.main-block-3-content-design {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  /* Colour/Main/Blue/600 */
  color: #37447E;
}
.main-block-3-content-simple {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  text-align: center;
  /* Colour/Main/Grey/600 */
  color: #5D6970;
  margin-top: 50px;
}
.main-block-3-content-purchase {
  min-height: 32px;
  width: 31.5%;
  margin-top: 9px;
}
.main-block-3-content > p {
  text-align: center;
}
.main-block-3-content > h2 {
  text-align: center;
}

@media (max-width: 900px) {
  .main-block-3-content {
    width: 90%;
  }
}
@media (max-width: 720px) {
  .main-block-2 {
    background-position: 50% 0%;
    background-size: auto;
    height: 1500px;
    top: -8%;
  }

  .main-grid {
    margin-top: 20%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .main-grid-cell-content {
    text-align: center;
  }

  .responsive-image {
    width: 75%;
  }
}
@media (max-width: 540px) {
  .main-block-2 {
    background-size: initial;
    background-position: center top;
  }
}
.footer-container {
  height: 100%;
  width: 77.0833333333%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  z-index: 1;
}

.footer {
  width: 100%;
  height: 216px;
  position: absolute;
  top: 95.35%;
  display: flex;
  flex-direction: column;
  background-color: #E7ECFF;
  align-items: center;
}
.footer-top {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #CDD1D4;
}
.footer-top-company {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  /* Colour/Main/Grey/400 */
  color: #939EA4;
}
.footer-top-purchase {
  height: 26px;
  width: 11%;
}
.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
}
.footer-bottom-navigation {
  width: 17.0138888889%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom-social {
  width: 20%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom-social-link {
  height: 16px;
  width: 16px;
  display: flex;
}

.footer-bottom-social-link:hover #fb {
  fill: #4267B2;
  transition-duration: 0.5s;
}

.footer-bottom-social-link:hover #li {
  fill: #0077b5;
  transition-duration: 0.5s;
}

.footer-bottom-social-link:hover #tw {
  fill: #1DA1F2;
  transition-duration: 0.5s;
}

.footer-bottom-social-link:hover #yt {
  fill: #FF0000;
  transition-duration: 0.5s;
}

.footer-bottom-social-link:hover #ig {
  fill: #C13584;
  transition-duration: 0.5s;
}

@media (max-width: 1100px) {
  .footer-bottom-navigation {
    width: 25%;
  }
}
@media (max-width: 1000px) {
  .footer-container {
    width: 90%;
  }
}
@media (max-width: 720px) {
  .footer-bottom {
    flex-direction: column;
  }

  .footer-bottom-navigation {
    width: 60%;
    margin-right: 0;
  }

  .footer-bottom-social {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .footer-top {
    flex-direction: column;
  }
  .footer-top-company {
    order: 3;
  }
}
.just-kidding {
  display: none;
}

.main-block-3-content:hover .just-kidding {
  display: inline;
}

.main-block-3-content:hover .main-block-3-content-purchase {
  background-color: #000000;
  width: 50%;
  height: 10%;
  color: crimson;
  text-transform: uppercase;
  font-weight: 600;
}